doctype html
html.js(lang='en-us', style='height: 100%; visibility: visible;')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		script(async='', src='file://www.google-analytics.com/analytics.js')
		script(type='text/javascript', async='', src='./../assets/linkid.js')
		script(async='', src='./../assets/analytics.js')
		script#tinyhippos-injected.
			if (window.top.ripple) { window.top.ripple("bootstrap").inject(window, document); }
		// <![endif]
		meta(name='description', content='Library Leadership Trustees Linda E. Johnson, President and CEO')
		link(rel='canonical', href='https://www.bklynlibrary.org/about/leadership')
		meta(property='og:title', content='Leadership')
		meta(property='og:description', content='Library Leadership Trustees Linda E. Johnson, President and CEO')
		meta(property='og:updated_time', content='2017-07-27T15:39:01-04:00')
		meta(property='article:published_time', content='2017-03-31T14:08:39-04:00')
		meta(property='article:modified_time', content='2017-07-27T15:39:01-04:00')
		title NOW → NEXT | Brooklyn Public Library
		meta(http-equiv='Content-Language', content='en-us')
		meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
		link(href='https://www.bklynlibrary.org/favicon.ico', type='image/x-icon', rel='icon')
		link(href='https://www.bklynlibrary.org/favicon.ico', type='image/x-icon', rel='shortcut icon')
		link(type='text/css', rel='stylesheet', href='./../assets/css_lQaZfjVpwP_oGNqdtWCSpJT1EMqXdMiU84ekLLxQnc4.css', media='all')
		link(type='text/css', rel='stylesheet', href='./../assets/css_a3pywgn_J62KzQsWQqovyxGhlElLheNDMXF2R1w90vU.css', media='all')
		link(type='text/css', rel='stylesheet', href='./../assets/css_aYQbrkZEf0-tQD7x1eHYf5uh-clzfPmIksi4QNjFL_M.css', media='all')
		link(type='text/css', rel='stylesheet', href='./../assets/css_wXE15I7kSD67BvA7KrY5l12u5u5RDEZ8-_Kt4ZXsWZg.css', media='all')
		link(type='text/css', rel='stylesheet', href='./../assets/css_Ohzu6R3nNfXRW_BmrGM3rgiaj7G8Y6Jif-J7E96K4i0.css', media='print')
		script(src='./../assets/js_gPM6NXOQjN2XM2JWQGfy07nKmcdDFrL289YA7h80ySs.js')
		script(src='./../assets/js_R9UbiVw2xuTUI0GZoaqMDOdX0lrZtgX-ono8RVOUEVc.js')
		script(src='./../assets/js_gPqjYq7fqdMzw8-29XWQIVoDSWTmZCGy9OqaHppNxuQ.js')
		script.
			(function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,"script","//www.google-analytics.com/analytics.js","ga");ga("create", "UA-27105001-1", {"cookieDomain":"auto"});ga("require", "linkid", "linkid.js");ga("require", "displayfeatures");ga("set", "anonymizeIp", true);ga("send", "pageview");
		script.
			jQuery.extend(Drupal.settings, { "pathToTheme": "sites/all/themes/bklyn" });
		script(src='./../assets/ga.js')
		script.
			jQuery.extend(Drupal.settings, {"basePath":"\\\/","pathPrefix":"","ajaxPageState":{"theme":"bklyn","theme_token":"7qq9YA5Z5ecT2-B91FJdL0QHxZd8i6MWB75zEWFcVhU","js":{"sites\/all\/themes\/bklyn\/js\/jquery.plugins.min.js":1,"sites\/all\/themes\/bklyn\/js\/scripts-1.0.js":1,"sites\/all\/modules\/jquery_update\/replace\/jquery\/1.10\/jquery.min.js":1,"misc\/jquery.once.js":1,"misc\/drupal.js":1,"sites\/all\/modules\/admin_menu\/admin_devel\/admin_devel.js":1,"sites\/all\/modules\/google_analytics\/googleanalytics.js":1,"0":1,"1":1,"https:\/\/ssl.google-analytics.com\/ga.js":1},"css":{"modules\/system\/system.base.css":1,"modules\/system\/system.menus.css":1,"modules\/system\/system.messages.css":1,"modules\/system\/system.theme.css":1,"sites\/all\/modules\/ldap\/ldap_user\/ldap_user.css":1,"modules\/comment\/comment.css":1,"sites\/all\/modules\/date\/date_api\/date.css":1,"sites\/all\/modules\/date\/date_popup\/themes\/datepicker.1.7.css":1,"sites\/all\/modules\/date\/date_repeat_field\/date_repeat_field.css":1,"modules\/field\/theme\/field.css":1,"modules\/node\/node.css":1,"modules\/user\/user.css":1,"sites\/all\/modules\/workflow\/workflow_admin_ui\/workflow_admin_ui.css":1,"sites\/all\/modules\/date_repeat_entity\/date_repeat_entity.css":1,"sites\/all\/modules\/views\/css\/views.css":1,"sites\/all\/modules\/ckeditor\/css\/ckeditor.css":1,"sites\/all\/modules\/ctools\/css\/ctools.css":1,"sites\/all\/modules\/ldap\/ldap_servers\/ldap_servers.admin.css":1,"sites\/all\/modules\/panels\/css\/panels.css":1,"sites\/all\/modules\/quickbar\/modules\/quickbar_extras\/css\/quickbar_extras.css":1,"sites\/all\/themes\/bklyn\/panels-layouts\/bklyn_twocol_stacked\/bklyn_twocol_stacked.css":1,"sites\/all\/themes\/bklyn\/system.menus.css":1,"sites\/all\/themes\/bklyn\/system.messages.css":1,"sites\/all\/themes\/bklyn\/system.theme.css":1,"sites\/all\/themes\/bklyn\/css\/styles.css":1,"sites\/all\/themes\/bklyn\/css\/styles.palettes.css":1,"sites\/all\/themes\/bklyn\/css\/styles.responsive.css":1,"sites\/all\/themes\/bklyn\/css\/templates\/tooltipster.bundle.css":1,"sites\/all\/themes\/bklyn\/css\/print.css":1}},"better_exposed_filters":{"views":{"image_slideshow":{"displays":{"block":{"filters":[]}}},"sitewide_alert":{"displays":{"block":{"filters":[]}}},"user_branch_central":{"displays":{"block":{"filters":[]}}},"user_branch":{"displays":{"block":{"filters":[]}}},"branch_list":{"displays":{"block":{"filters":[]}}},"events_calendar_widgets":{"displays":{"block":{"filters":[]}}}}},"googleanalytics":{"trackOutbound":1,"trackMailto":1,"trackDownload":1,"trackDownloadExtensions":"7z|aac|arc|arj|asf|asx|avi|bin|csv|doc(x|m)?|dot(x|m)?|exe|flv|gif|gz|gzip|hqx|jar|jpe?g|js|mp(2|3|4|e?g)|mov(ie)?|msi|msp|pdf|phps|png|ppt(x|m)?|pot(x|m)?|pps(x|m)?|ppam|sld(x|m)?|thmx|qtm?|ra(m|r)?|sea|sit|tar|tgz|torrent|txt|wav|wma|wmv|wpd|xls(x|m|b)?|xlt(x|m)|xlam|xml|z|zip"}});
		link(type='text/css', rel='stylesheet', charset='UTF-8', href='./../assets/translateelement.css')
		script(type='text/javascript', charset='UTF-8', src='./../assets/main.js')
		script(type='text/javascript', charset='UTF-8', src='./../assets/element_main.js')
		link(type='text/css', rel='stylesheet', charset='UTF-8', href='./../assets/translateelement(1).css')
		script(type='text/javascript', charset='UTF-8', src='./../assets/main(1).js')
		script(type='text/javascript', charset='UTF-8', src='./../assets/element_main(1).js')
		link(type='text/css', rel='stylesheet', charset='UTF-8', href='./../assets/css/style.css?v=1.2')
		script(src='./../assets/js/bpl_script.js')
		script(src='./../assets/js/slick.min.js')
		script(src='./../assets/js/script.js?v=1.2')
	body.html.not-front.not-logged-in.no-sidebars.page-node.page-node-.page-node-76352.node-type-page.section-about.page-panels.nn-theme.drawer-closed.modal-closed.nn-sl-theme(style='position: relative; min-height: 100%; top: 0px;')
		#body(style='display: block;')
			header#HEADER.bkgd-primary
				#block-block-4.block.block-block.block-block-4.first.last.odd
					// Header + Utilities
					#UTILITIES.container
						.row
							.span-6.bkgd-primary
								span.mobile-only.mobile-nav-trigger(data-trigger='nav-Borrow')
								header.branding.mobile-only
									a(href='https://www.bklynlibrary.org/', title='Brooklyn Public Library')
										span.icon-logo
								a.col-header.search(href='https://www.bklynlibrary.org/about/leadership#/search', role='modal', data-modal='search')
									span.hide-mobile SEARCH
									span.icon-search
								.col-header.location
									span.details
										.view.view-user-branch.view-id-user_branch.view-display-id-block.view-dom-id-b8e1f0c4a3ec377427f2ee1834b680d3
											.view-empty
												.view.view-user-branch-central.view-id-user_branch_central.view-display-id-block.view-dom-id-2aeeecaab3edae9f5468f679b7065940
													.view-content
														div CENTRAL LIBRARY – Open until 9:00 PM
									.locmenu(role='dropdown', data-menu='location')
										span.icon-location
										span.hide-mobile HOURS + LOCATIONS
										span.hide-mobile.icon-drop
										.location-dropdown
											a#locviewall(href='https://www.bklynlibrary.org/locations') View All Locations
								// Account Access: check for Logged-in state
								a.col-header.avatar.account-login(href='https://www.bklynlibrary.org/login')
									span.icon-avatar
									span.hide-mobile LOG IN
								.col-header.donate
									a.primary(href='https://apps.brooklynpubliclibrary.org/donate/') DONATE
				#HEADER-TITLE.container
				#HEADER-IMAGE
					img(src='./../assets/imgs/now-next-header-animation.gif')
					//- img(src='./../assets/imgs/nn-header.svg')
					#nn-subheader.span-4 Strategic Plan 2018
			include content
			footer#FOOTER
				#block-block-2.block.block-block.block-block-2.first.last.odd
					// chat widget placeholder
					nav.container
						.row
							.span-6
								ul.list-horizontal.buttons
									li
										a.btn.btn-link.btn-muted.btn-rounded(href='https://www.bklynlibrary.org/use-the-library/borrow') Get a Library Card
									li
										a.btn.btn-link.btn-muted.btn-rounded(href='https://www.bklynlibrary.org/contact') Contact Us
									li
										a.btn.btn-link.btn-muted.btn-rounded(href='https://www.bklynlibrary.org/connect') Social Media
									li
										a.btn.btn-link.btn-muted.btn-rounded(href='https://www.bklynlibrary.org/support') Donate Now
									li.select-languages
										#google_translate_element
											.skiptranslate.goog-te-gadget(dir='ltr')
												.langButton(id=':0.targetLanguage', style='white-space: nowrap;')
													span(style='vertical-align: middle;')
														a.langLinks(aria-haspopup='true', href='javascript:void(0)')
															span Languages
													span(style='vertical-align: middle;')
														a.langLinks(aria-haspopup='true', href='javascript:void(0)')
															span.langDropArrow.icon-drop(style='color: rgb(155, 155, 155);')
															span(aria-hidden='true', style='color: rgb(118, 118, 118);') ▼
											.skiptranslate.goog-te-gadget(dir='ltr')
												.langButton(id=':0.targetLanguage')
										script(type='text/javascript').
											function googleTranslateElementInit() {
											new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'ar,bn,el,en,es,fr,hi,ht,hu,it,iw,ja,ko,pl,pt,ru,ur,vi,yi,zh-CN,zh-TW', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true, gaId: 'UA-27105001-1'}, 'google_translate_element');
											}
						.row.last
							.span-6
								p © 2017 Brooklyn Public Library
		// </div> END #body
		// Navigation Main/Body & Drawer; followed by Body Fog & Body Modal
		#bodynav
			// Activated by 'SCROLLSPY' in the main JavaScript file
			nav#GLOBAL-navigation-main.main.scroll-spy(role='navigation')
				header.branding
					a(href='https://www.bklynlibrary.org/', title='Brooklyn Public Library')
						span.icon-logo
				ul.nav-main.menu-main
					li.nav-borrow(data-url='#/borrow')
						a#nav-borrow-link(href='https://www.bklynlibrary.org/about/leadership#/borrow', title='Borrow', data-url='#/borrow', data-trigger='nav-Borrow')
							span.icon-borrow
							|  Borrow
					li.nav-learn(data-url='#/learn')
						a#nav-learn-link(href='https://www.bklynlibrary.org/about/leadership#/learn', title='Learn', data-url='#/learn', data-trigger='nav-Learn')
							span.icon-learn
							|  Learn
					li.nav-attend(data-url='#/attend')
						a#nav-attend-link(href='https://www.bklynlibrary.org/about/leadership#/attend', title='Attend', data-url='#/attend', data-trigger='nav-Attend')
							span.icon-attend
							|  Attend
					li.nav-more(data-url='#/more')
						a#nav-more-link(href='https://www.bklynlibrary.org/about/leadership#/more', title='More', data-url='#/more', data-trigger='nav-More')
							span.icon-ellipsis
							|  More
		#drawer
			// Activated by 'DRAWER' in the main JavaScript file
			// Close
			.close
				a.close-button(href='https://www.bklynlibrary.org/about/leadership#/')  
			// Navigation, Header & List
			nav#GLOBAL-navigation-sub.main(role='navigation')
				#nav-Borrow.navigation-section.hide
					.menu-block-wrapper.menu-block-1.menu-name-main-menu.parent-mlid-509.menu-level-1
						ul#custom-id.nav-main.menu-sub.section-navigation
							li.menu__item.is-leaf.first.leaf.menu-mlid-512.launch
								a#launchcat.menu__link(href='https://brooklyn.bibliocommons.com/')
									| Launch the Catalog 
									span.icon-open
									span.icon-open
							li.menu__item.is-leaf.leaf.menu-mlid-5930
								a.menu__link(href='https://www.bklynlibrary.org/use-the-library/borrow') Get a Library Card
							li.menu__item.is-leaf.leaf.menu-mlid-513
								a.menu__link(href='https://brooklyn.bibliocommons.com/') Books
							li.menu__item.is-leaf.leaf.menu-mlid-1041
								a.menu__link(href='https://www.bklynlibrary.org/ebooks') E-books & Audiobooks
							li.menu__item.is-leaf.leaf.menu-mlid-1595
								a.menu__link(href='https://brooklyn.bibliocommons.com/search?custom_query=formatcode%3A(VIDEO_DOWNLOAD+OR+DVD+OR+VC+)&suppress=true&custom_edit=false') Movies
							li.menu__item.is-leaf.last.leaf.menu-mlid-3512
								a.menu__link(href='https://brooklyn.bibliocommons.com/search?custom_query=formatcode%3A(VIDEO_DOWNLOAD+OR+DVD+OR+MUSIC_CS+OR+MUSIC_CD+OR+MN+OR+VC+)&suppress=true&custom_edit=false') Music & Recordings
					.menu-block-wrapper.menu-block-5.menu-name-main-menu.parent-mlid-1045.menu-level-1
						ul.nav-main.menu-sub.section-links
							li.menu__item.is-leaf.first.leaf.menu-mlid-1042
								a.menu__link(href='https://brooklyn.bibliocommons.com/explore/index/newly_acquired') New Titles
							li.menu__item.is-leaf.leaf.menu-mlid-1043
								a.menu__link(href='https://brooklyn.bibliocommons.com/list/share/659822928_violet_fox_507/661388037_scariest_books_ever') Staff Favorites
							li.menu__item.is-leaf.leaf.menu-mlid-1044
								a.menu__link(href='https://brooklyn.bibliocommons.com/explore/index/awards') Award Winners
							li.menu__item.is-leaf.last.leaf.menu-mlid-1594.plain
								a.menu__link(href='https://brooklyn.bibliocommons.com/explore/bestsellers') Bestsellers
					.menu-block-wrapper.menu-block-6.menu-name-main-menu.parent-mlid-1046.menu-level-1
						ul.nav-main.menu-sub.section-links
							li.menu__item.is-leaf.first.leaf.menu-mlid-1049.header
								span.menu__link.nolink More from the library
							li.menu__item.is-leaf.leaf.menu-mlid-3300
								a.menu__link(href='https://www.bklynlibrary.org/use-the-library/borrow') Borrowing Information
							li.menu__item.is-leaf.leaf.menu-mlid-3513
								a.menu__link(href='https://brooklyn.bibliocommons.com/search?custom_query=formatcode%3A(BOOK_CD+OR+BR+)&suppress=true') Braille & Talking Books
							li.menu__item.is-leaf.leaf.menu-mlid-5775
								a.menu__link(href='https://www.bklynlibrary.org/brooklyncollection') Brooklyn Collection
							li.menu__item.is-leaf.last.leaf.menu-mlid-3299
								a.menu__link(href='https://www.bklynlibrary.org/bookmatch') Personalized Recommendations
				#nav-Learn.navigation-section.hide
					.menu-block-wrapper.menu-block-2.menu-name-main-menu.parent-mlid-510.menu-level-1
						ul.nav-main.menu-sub.section-links
							li.menu__item.is-leaf.first.leaf.menu-mlid-514.menu-item
								a.menu__link(href='https://www.bklynlibrary.org/learning-resources') Learning Resources
							li.menu__item.is-leaf.leaf.menu-mlid-525
								a.menu__link(href='https://www.bklynlibrary.org/use-the-library/borrow') How to use the Library
							li.menu__item.is-leaf.leaf.menu-mlid-6111
								a.menu__link(href='https://bpl.bklynlibrary.org/enewsletter/') Get email updates
							li.menu__item.is-leaf.last.leaf.menu-mlid-526
								a.menu__link(href='https://www.bklynlibrary.org/locations/central/dept/infocommons') Info Commons
					.menu-block-wrapper.menu-block-7.menu-name-main-menu.parent-mlid-1050.menu-level-1
						ul.nav-main.menu-sub.section-navigation
							li.menu__item.is-expanded.first.last.expanded.menu-mlid-527.header
								span.menu__link.nolink Start Here
								ul.nav-main.menu-sub.section-navigation
									li.menu__item.is-leaf.first.leaf.menu-mlid-528
										a.menu__link(href='https://www.bklynlibrary.org/learn/kids') Kids
									li.menu__item.is-leaf.leaf.menu-mlid-565
										a.menu__link(href='https://www.bklynlibrary.org/learn/teens') Teens & Young Adults
									li.menu__item.is-leaf.leaf.menu-mlid-1053
										a.menu__link(href='https://www.bklynlibrary.org/learn/parents') Parents
									li.menu__item.is-leaf.leaf.menu-mlid-3516
										a.menu__link(href='https://www.bklynlibrary.org/learn/adults') Adults
									li.menu__item.is-leaf.leaf.menu-mlid-3515
										a.menu__link(href='https://www.bklynlibrary.org/learn/educators') Educators
									li.menu__item.is-leaf.last.leaf.menu-mlid-5856
										a.menu__link(href='https://www.bklynlibrary.org/learn/immigrants') Immigrants
					.menu-block-wrapper.menu-block-8.menu-name-main-menu.parent-mlid-1051.menu-level-1
						ul.nav-main.menu-sub.section-links
							li.menu__item.is-expanded.first.last.expanded.menu-mlid-530.header
								span.menu__link.nolink More from the library
								ul.nav-main.menu-sub.section-links
									li.menu__item.is-leaf.first.leaf.menu-mlid-4895
										a.menu__link(href='https://www.bklynlibrary.org/adult-learning') Adult Learning
									li.menu__item.is-leaf.leaf.menu-mlid-531
										a.menu__link(href='https://www.bklynlibrary.org/bal') Book a Librarian
									li.menu__item.is-leaf.leaf.menu-mlid-5776
										a.menu__link(href='https://www.bklynlibrary.org/brooklyncollection') Brooklyn Collection
									li.menu__item.is-leaf.leaf.menu-mlid-4752
										a.menu__link(href='https://www.bklynlibrary.org/business') Business & Career Services
									li.menu__item.is-leaf.leaf.menu-mlid-1052
										a.menu__link(href='https://www.bklynlibrary.org/inclusive-services') Inclusive Services
									li.menu__item.is-leaf.leaf.menu-mlid-5929
										a.menu__link(href='https://www.bklynlibrary.org/incubator-submissions') Incubator
									li.menu__item.is-leaf.last.leaf.menu-mlid-5784
										a.menu__link(href='https://www.bklynlibrary.org/outreach') Library Outreach
				#nav-Attend.navigation-section.hide
					ul.nav-main.menu-sub.section-links
						li.header Upcoming
						li.menu-item
							a(href='https://www.bklynlibrary.org/calendar/esol-2017-fall-bay-ridge-library-081417', title='ESOL - 2017 Fall Registration')
								strong ESOL - 2017 Fall Registration
								br
								span.date-display-single Mon, Aug 14
								|  at 
								span.date-display-single 10:30 am
						li.menu-item
							a(href='https://www.bklynlibrary.org/calendar/where-my-feet-rest-red-hook-library-081517', title='Where My Feet Rest: Stories of Migration')
								strong Where My Feet Rest: Stories of Migration
								br
								span.date-display-single Tue, Aug 15
								|  at 
								span.date-display-single 6:00 pm
						li.menu-item
							a(href='https://www.bklynlibrary.org/calendar/photo-exhibition-anatoli-kings-bay-library-081917', title='Photo Exhibition by Anatoli A. Iasenik and presentation of his new book Imena (The names). Russian program.')
								strong
									| Photo Exhibition by Anatoli A. Iasenik and presentation of his new book Imena (The names). Russian program.
								br
								span.date-display-single Sat, Aug 19
								|  at 
								span.date-display-single 1:00 pm
						li.menu-item
							a(href='https://www.bklynlibrary.org/calendar/solar-eclipse-viewing-clinton-hill-library-082117', title='Solar Eclipse Viewing Party!')
								strong Solar Eclipse Viewing Party!
								br
								span.date-display-single Mon, Aug 21
								|  at 
								span.date-display-single 1:30 pm
					// Section Navigation
					.menu-block-wrapper.menu-block-9.menu-name-main-menu.parent-mlid-511.menu-level-1
						ul.nav-main.menu-sub.section-navigation
							li#nav-Attend-subnavigation.menu__item.is-expanded.first.expanded.menu-mlid-6103
								a.menu__link(href='https://www.bklynlibrary.org/calendar/list') Events & Classes
								ul.nav-main.menu-sub.section-navigation
									li.menu__item.is-leaf.first.leaf.menu-mlid-6104.plain
										a.menu__link(href='https://www.bklynlibrary.org/calendar/list?age%5B%5D=10046') For Kids
									li.menu__item.is-leaf.leaf.menu-mlid-6105.plain
										a.menu__link(href='https://www.bklynlibrary.org/calendar/list?age%5B%5D=10047') For Teens & Young Adults
									li.menu__item.is-leaf.last.leaf.menu-mlid-6106.plain
										a.menu__link(href='https://www.bklynlibrary.org/calendar/list?age%5B%5D=10048') For Adults
							li.menu__item.is-leaf.leaf.menu-mlid-4764
								a.menu__link(href='https://www.bklynlibrary.org/bpl-presents') BPL Presents
							li.menu__item.is-leaf.last.leaf.menu-mlid-1054
								a.menu__link(href='https://www.bklynlibrary.org/locations') Locations & Hours
					.menu-block-wrapper.menu-block-39.menu-name-main-menu.parent-mlid-5908.menu-level-1
						ul.nav-main.menu-sub.section-links
							li.menu__item.is-leaf.first.last.leaf.menu-mlid-5907
								a.menu__link(href='https://www.bklynlibrary.org/locations/closings') Closings & Renovations
				#nav-More.navigation-section.hide
					.menu-block-wrapper.menu-block-10.menu-name-main-menu.parent-mlid-1057.menu-level-1
						ul.nav-main.menu-sub.section-navigation
							li.menu__item.is-leaf.first.leaf.menu-mlid-1059
								a.menu__link(href='https://apps.brooklynpubliclibrary.org/donate/') Donate
							li.menu__item.is-leaf.leaf.menu-mlid-1058
								a.menu__link(href='https://www.bklynlibrary.org/use-the-library/borrow') Get a Library Card
							li.menu__item.is-leaf.last.leaf.menu-mlid-1060
								a.menu__link.chat-widget(href='http://www.questionpoint.org/crs/servlet/org.oclc.admin.BuildForm?&page=accessable&institution=10136&type=2&language=1')
									| Chat with a Librarian
									br
									small.font-weight-normal or call (718) 230-2100
									br
									small.font-weight-normal or call (718) 230-2100
					.menu-block-wrapper.menu-block-11.menu-name-main-menu.parent-mlid-1062.menu-level-1
						ul.nav-main.menu-sub.section-links.inline
							li.menu__item.is-expanded.first.last.expanded.menu-mlid-1061.header
								span.menu__link.nolink Information
								ul.nav-main.menu-sub.section-links.inline
									li.menu__item.is-leaf.first.leaf.menu-mlid-1063
										a.menu__link(href='https://www.bklynlibrary.org/use-the-library/borrow') Borrowing & Library policies
									li.menu__item.is-leaf.leaf.menu-mlid-1064
										a.menu__link(href='https://www.bklynlibrary.org/use-the-library/borrow#tab-3') Fines & Fees
									li.menu__item.is-leaf.leaf.menu-mlid-1065
										a.menu__link(href='https://www.bklynlibrary.org/use-the-library/tech') Computers & Internet
									li.menu__item.is-leaf.last.leaf.menu-mlid-3297
										a.menu__link(href='https://www.bklynlibrary.org/passport') Passport Services
					.menu-block-wrapper.menu-block-12.menu-name-main-menu.parent-mlid-1069.menu-level-1
						ul.nav-main.menu-sub.section-links.inline
							li.menu__item.is-expanded.first.last.expanded.menu-mlid-1066.header
								span.menu__link.nolink Support the Library
								ul.nav-main.menu-sub.section-links.inline
									li.menu__item.is-leaf.first.leaf.menu-mlid-5785
										a.menu__link(href='https://www.bklynlibrary.org/support') Get Involved
									li.menu__item.is-leaf.leaf.menu-mlid-1067
										a.menu__link(href='https://www.bklynlibrary.org/support/become-donor') Become a Donor
									li.menu__item.is-leaf.leaf.menu-mlid-1068
										a.menu__link(href='https://www.bklynlibrary.org/support/volunteer') Volunteer
									li.menu__item.is-leaf.leaf.menu-mlid-3294
										a.menu__link(href='https://go.bklynlibrary.org/standup') Advocacy
									li.menu__item.is-leaf.last.leaf.menu-mlid-3296
										a.menu__link(href='https://www.bklynlibrary.org/support/corporate-sponsors') Sponsorship Opportunities
					.menu-block-wrapper.menu-block-20.menu-name-main-menu.parent-mlid-3289.menu-level-1
						ul.nav-main.menu-sub.section-links.inline
							li.menu__item.is-expanded.is-active-trail.first.last.expanded.active-trail.menu-mlid-3288.header
								span.menu__link.is-active-trail.active-trail.nolink About the Library
								ul.nav-main.menu-sub.section-links.inline
									li.menu__item.is-leaf.first.leaf.menu-mlid-3290
										a.menu__link(href='https://www.bklynlibrary.org/about') About
									li.menu__item.is-leaf.is-active-trail.is-active.leaf.active-trail.active.menu-mlid-3291
										a.menu__link.is-active-trail.active-trail.active(href='https://www.bklynlibrary.org/about/leadership') Leadership
									li.menu__item.is-leaf.leaf.menu-mlid-3520
										a.menu__link(href='https://www.bklynlibrary.org/about/reports-publications') Reports & Publications
									li.menu__item.is-leaf.leaf.menu-mlid-3298
										a.menu__link(href='https://www.bklynlibrary.org/about/media') News & Media
									li.menu__item.is-leaf.last.leaf.menu-mlid-5792
										a.menu__link(href='https://www.bklynlibrary.org/about/careers') Work for BPL
		#bodyfog(aria-hidden='true')  
		#bodymodal.bkgd-primary(aria-hidden='true')  
		script(defer='', type='text/javascript', src='./../assets/element.js')
		script(src='./../assets/js_8TxfYC9zYi0iFuqdYWhvptlZk4cRuk6lMXUvWfZ768Q.js')
		#goog-gt-tt.skiptranslate(dir='ltr')
			div(style='padding: 8px;')
				div
					.logo
						img(src='./../assets/translate_24dp.png', width='20', height='20', alt='Google Translate')
			.top(style='padding: 8px; float: left; width: 100%;')
				h1.title.gray Original text
			.middle(style='padding: 8px;')
				.original-text
			.bottom(style='padding: 8px;')
				.activity-links
					span.activity-link Contribute a better translation
					span.activity-link
				.started-activity-container
					hr(style='color: #CCC; background-color: #CCC; height: 1px; border: none;')
					.activity-root
			.status-message(style='display: none;')
		.goog-te-spinner-pos
			.goog-te-spinner-animation
				svg.goog-te-spinner(xmlns='http://www.w3.org/2000/svg', width='96px', height='96px', viewbox='0 0 66 66')
					circle.goog-te-spinner-path(fill='none', stroke-width='6', stroke-linecap='round', cx='33', cy='33', r='30')
		#goog-gt-tt.skiptranslate(dir='ltr')
			div(style='padding: 8px;')
				div
					.logo
						img(src='./../assets/translate_24dp(1).png', width='20', height='20', alt='Google Translate')
			.top(style='padding: 8px; float: left; width: 100%;')
				h1.title.gray Original text
			.middle(style='padding: 8px;')
				.original-text
			.bottom(style='padding: 8px;')
				.activity-links
					span.activity-link Contribute a better translation
					span.activity-link
				.started-activity-container
					hr(style='color: #CCC; background-color: #CCC; height: 1px; border: none;')
					.activity-root
			.status-message(style='display: none;')
		iframe.goog-te-menu-frame.skiptranslate(frameborder='0', title='Language Translate Widget', style='visibility: visible; box-sizing: content-box; width: 237px; height: 263px; display: none;', src='./../assets/saved_resource.html')
		.goog-te-spinner-pos
			.goog-te-spinner-animation
				svg.goog-te-spinner(xmlns='http://www.w3.org/2000/svg', width='96px', height='96px', viewbox='0 0 66 66')
					circle.goog-te-spinner-path(fill='none', stroke-width='6', stroke-linecap='round', cx='33', cy='33', r='30')
		iframe.goog-te-menu-frame.skiptranslate(frameborder='0', title='Language Translate Widget', style='visibility: visible; box-sizing: content-box; width: 237px; height: 263px; display: none;', src='./../assets/saved_resource(1).html')