h1 Expanding the Library’s Reach

p Making sure that the most vulnerable in our communities have an opportunity to fully participate in our economy and society is an important value of the Library. It informs a range of specialized services for the marginalized and disadvantaged, including those experiencing homelessness or suffering from mental illness, and inspires the proactive approach many staff members take when delivering these and other services to patrons. 

p To better serve the needs of those staying in the Rose McCarthy Family Residence in East New York, for example, children’s librarian Nicole Bryan started throwing evening pajama parties in the facility’s common room. The idea came to her after meeting with Rose McCarthy staff to discuss how the New Lots branch could better connect with residents. Pajama parties, she thought, were just the sort of experience children without stable housing often miss out on. 

p “It was an amazing turnout,” she says of the first event. “They all came in their PJs: the children, the parents, even the staff. I bought myself a pair of tiger pajamas.”

.nn-image
	img(src='./../assets/imgs/spotlights/image3.jpg')
	.nn-image-caption A pajama party at the Rose McCarthy Family Shelter

p What started out as occasional outreach events soon became a monthly series at which the children read stories and completed fun activities, including sing-a-longs and holiday crafts. Bryan set up a lending library of 200 items at the shelter and gave the children books they could keep. She attended monthly house meetings to tell families about the services available for free at the library and worked with staff to include information about BPL in the intake packets for new families.

blockquote “It was an amazing turnout… They all came in their PJs: the children, the parents, even the staff. I bought myself a pair of tiger pajamas.”

p Shelter life is transitory, yet Bryan was able to build enduring relationships with residents, many of whom settled in the neighborhood and became frequent visitors to the New Lots branch. “Because we went to the shelter, the kids would say, ‘I want to go see Miss Nicole at the library!’ Many of them became regular visitors to Saturday Storytime and to my arts and crafts workshops.”

p With the help of a licensed social worker, BPL meets regularly with individuals who are suffering from mental illness or addiction, or who are chronically homeless and use our libraries as a refuge. And the key to serving these and other vulnerable patrons well, according to outreach director Nick Higgins, is to develop trusting relationships. “Their need might not be the one you envision for them,” Higgins says. “You have to be thoughtful and patient. Before accepting a referral to supportive housing or mental health care, some may require small gestures of compassion and support like an invitation to a program, or extra time on the computer, or a simple ‘hello’ every time they come into the library.”