h1 A Personal Guide in the Virtual World

p When people want answers to simple questions, a search engine is often the most convenient tool. But if they want help formulating the question in the first place—or are in search of something new and surprising—librarians are often a better choice. 

p Through a program called BookMatch, over 60 BPL librarians steer patrons toward an impossibly broad range of titles, from test prep materials and self-help books, to literary nonfiction and Manga comics. They field requests through an online form at bklynlibrary.org as well as in person at a wide variety of special events such as the Gay Pride Parade, Comic Con, the Brooklyn Book Festival, and Smorgasburg. 

.nn-image
	img(src='./../assets/imgs/spotlights/image3.jpg')
	.nn-image-caption Over 60 librarians offer reading recommendations through BookMatch

p “This service doesn’t rely on taste algorithms,” says Amy Mikel, a school outreach coordinator who helps organize the program. “It’s a personal relationship.” 

p Conducting BookMatch at special events gives librarians an opportunity to advertise the service while making inroads in particular reading communities. But the core of the program is based online, and those exchanges, says Mikel, can be surprisingly rich and substantive. 

p The online format gives patrons a little more time to think about and even research what they’re looking for, and gives the BookMatch team an opportunity to find the right person to respond. Patrons interested in science fiction novels or World War II history, for example, can be paired with librarians who have experience or interests in those fields. BookMatch librarians aren’t just cataloging experts—they’re passionate readers themselves. They include comic book nerds, history buffs, amateur chefs, gamers, and poets.

blockquote “This service doesn’t rely on taste algor&shy;ithms. It’s a personal relation&shy;ship.”  

p At a time when our digital lives are increasingly filtered and curated by algorithms, many people are just looking to have a good conversation about books with someone they trust. “They want to connect on a personal level,” says Mikel, “and hear about your experience with a particular book or subject.” For this reason, being a good BookMatch librarian isn’t so much about providing the correct answers as making a connection. “You listen to what they’re telling you and draw from your own interests to set up an explanation about your five books.” 

p This focus on the personal is at the heart of BookMatch Teen, a trial version of BookMatch run by and for teenagers. Like many of the Library’s other teen programs, participants are involved in all stages of the service, including not just delivery but planning, marketing, and outreach. The program has a career development component that introduces participants to professionals in publishing, libraries, and writing, but the basic idea is the same: to create a reader advisory platform that enables people—in this case, teens—to share and inspire others through their passion of reading. 