h1 A Platform For Partnerships

p Every year, the Library works with thousands of volunteers and organizational partners to create a wide variety of classes, events, and performances. These programs mobilize existing Library resources to answer specific needs in our communities, and leverage the expertise and assets of outside partners to do it. A good example is Girls Report Now!, a bootcamp for teenage girls interested in journalism. 

blockquote “One student wrote an article about the L train shutting down and interviewed a bunch of small business owners and shopkeepers in Williamsburg.”

p After putting out a call for potential partners, Erik Bobilin, the manager of the Leonard branch in Williamsburg, found an experienced reporter from Fusion News who was interested in teaching and mentoring kids in the neighborhood. Together they designed and led a series of workshops over three months that introduced teenage girls to key reporting methods and supported them as they researched and composed their own articles.

p “Girls face so many obstacles in their teenage years,” says Bobilin. “We wanted to empower these teens to go into their community and really dig in on an issue. Reporting was a reason for them to do that.” 

p One student wrote an article about the L train shutting down and interviewed a bunch of small business owners and shopkeepers in Williamsburg; another wrote about why the SAT should be abolished and interviewed her classmates; yet another wrote about a genre of Minecraft videos and interviewed YouTube personalities with tens of thousands of followers. “They were required to break out of their comfort zones,” Bobilin says. “Teenagers aren’t asked to hold their own in these sorts of conversations enough. It was definitely intimidating for them.”

.nn-image
	img(src='./../assets/imgs/spotlights1.jpg')
	.nn-image-caption Present&shy;ing Girls Report Now! at BKLYN Incu&shy;bator pitch compet&shy;ition

p Girls Report Now! was a participant in the BKLYN Incubator, a program that helps library staff learn to assess needs and opportunities in their neighborhoods, build partnerships with outside groups, and design successful new programs and services. BKLYN Incubator grants, worth up to $15,000 each, are awarded on a competitive basis to especially promising new projects. Over the first two years of operation, successful proposals have included gardening programs for children, coding courses for teens, training in early learning pedagogy for childcare providers, and theatrical performances based on the writings of adult literacy participants.