h1 From Inclusion to Empowerment

p As political debates have veered toward the xenophobic and symbols of intolerance and hate have started to appear even in Brooklyn, some librarians have found ways to emphasize BPL’s core values of inclusion and diversity.

p In early 2017, the Bay Ridge Library began putting out a sign every day that said, “You are welcome here. You are loved.” And to get patrons thinking more broadly about immigration issues, children’s librarian Katya Shapiro organized a series of readings about refugees and migrants in different parts of the world and supplemented these with creative posters and book displays. Over the last year, library regulars, including a few little kids, have taken on the message of inclusivity themselves. “We let them take over the chalkboard,” says Rita Meade, the library information supervisor. “They started writing things like ‘Everyone is welcome here’ and ‘We’re happy to see you.’” 

p These are simple gestures, but when people feel unwelcome or uncomfortable in their own city for being who they are, simple gestures matter.

.nn-image
	img(src='./../assets/imgs/spotlights0.jpg')
	.nn-image-caption Emphasizing BPL values at Bay Ridge Library

p Libraries have long been safe havens where people are free from harm or ridicule. They are also safe havens in the sense that in the library, people are empowered to explore, ask questions, and express themselves, no matter who they are or where they come from, what they know or don’t know. BPL does this through educational programs that draw on a wide variety of prompts and materials to engage different kinds of learners, including those with intellectual, emotional, and physical disabilities, and through cultural events, lectures, discussion groups, and performances that address important social and political issues. Books are no longer the only means of engagement, but they’re still essential. At the suggestion of a local mom, the Bay Ridge library started stocking and displaying children’s books about Islam, not just for the Arab and Pakistani immigrant families in the neighborhood but for other children and parents curious about the hijab and other Muslim customs.

blockquote “We let them take over the chalk&shy;board… They started writ&shy;ing things like ‘Every&shy;one is wel&shy;come here’ and ‘We’re happy to see  you.’”

p To create an environment in which everyone feels not only welcome but like they have a stake in their community, staff have to have a strong sense of residents’ interests, challenges, and needs. There might be teens struggling with bullying at school, parents worried about standardized testing, newly arrived immigrants working toward their high school equivalency, seniors trying to stay mentally and physically active, and more. In each of these cases, one component of the job is providing access to information and one component is ensuring a safe, inspiring environment.