article.page-content
  a#main-content
  .container
    .row
      //MAIN CONTENT STARTS HERE
      #now-next
        object.now(type='image/svg+xml' data='/imgs/now.svg')
        object.arrow(type='image/svg+xml' data='/imgs/arrow_right_inline.svg')
        object.next(type='image/svg+xml' data='/imgs/next.svg')
        


      ul.toc.top.inline_nav
        li
          a(href='#intro')
            h1.nn_title Intro
        li
          a(href='#now')
            h1.nn_title Now: Core Principles
        li
          a(href='#next')
            h1.nn_title Next: Focus Areas
        li
          a(href='#appendix')
            h1.nn_title Appendix
        li
          a(href='#spotlights')
            h1.nn_title Spotlights

      .chapter#intro
        h1.nn_title Intro
        .content
          p Shortly after its establishment in 1896, Brooklyn Public Library published its  rst annual report, declaring its undertaking “to improve the quality of the minds of the people... and lay the foundation of a better civilization for the future,” which still seems apt 120 years later. BPL has remained committed to this founding mission, though how we execute that mission has remarkably evolved.
          p Public libraries developed during a century of nearly incomprehensible change. When our  rst branch was erected, Brooklyn had no cars on its streets, planes in its skies, or windows bright with electricity, nevermind wi -enabled tablets or 3D printers. A manufacturing economy of dockyards and factories has given way to an information economy, resulting in unprecedented income disparity. Today, one in  ve Brooklyn

      .chapter#now
        h1.nn_title Now: Core Principles
        .content
          h2.nn_sub_title Part One: Core Principles
          p At BPL, we believe there are many ways to learn, that welcoming people from all beliefs and backgrounds is crucial for democracy, and that listening and taking an interest are fundamental characteristics of strong communities. We protect our patrons’ personal privacy, including their digital privacy, because we believe in intellectual freedom and take seriously our role in supporting learners and information seekers of all kinds. We take pride in sparking people’s curiosity and believe learning is most e ective when it’s fun.
          blockquote.left THE PURSUIT OF KNOWING WAS FREEDOM TO ME, THE RIGHT TO DECLARE YOUR OWN CURIOSITIES AND FOLLOW THEM
          p This section of the plan expresses our values in  ve core principles and examines how we put them into action. In making these principles explicit, we provide our patrons with a clearer sense of what makes us who we are, and give our sta  and service partners a better idea of how we might improve in the future. Over the last decade, one of BPL’s strengths has been its ability to meet and improve existing services and programs, and dream up and execute new ones, we will ensure they spring from the following core principles.
          p Shortly after its establishment in 1896, Brooklyn Public Library published its  rst annual report, declaring its undertaking “to improve the quality of the minds of the people... and lay the foundation of a better civilization for the future,” which still seems apt 120 years later. BPL has remained committed to this founding mission, though how we execute that mission has remarkably evolved.

          h2.nn_sub_title Our Five Core Principals:
          ul.inline_nav.accordion
            li
              a(href='#')
                h1 I.TO FOSTER LITERACY AND THE LOVE OF LEARNING
              .inside
                .content
                  p One important insight behind the founding of this and other public libraries across the country is the idea that reading is transformational, that through reading we can not only learn new things but discover new worlds. In his award-winning essay collection, “Between the World and Me,” Ta-Nehisi Coates writes about this aspect of the library and what it meant to his own intellectual development. “The pursuit of knowing was freedom to me,” he writes, “the right to declare your own curiosities and follow them through all manner of books. I was made for the library, not the classroom.”
                  p Like Coates, many patrons rely on BPL as an alternative to school, a place where they are surrounded by books and other resources, and can follow their intuitions and interests at their own pace. For patrons who want to pursue knowledge alongside others, or need more direction, the Library users an enormous range of programs that.
            li
              a(href='#')
                h1 II.TO SUPPLY TRUSTED, UP-TO-DATE INFORMATION RESOURCES AND GUIDE PATRONS TO THE ONES THEY NEED
              .inside
                .content
                  p One important insight behind the founding of this and other public libraries across the country is the idea that reading is transformational, that through reading we can not only learn new things but discover new worlds. In his award-winning essay collection, “Between the World and Me,” Ta-Nehisi Coates writes about this aspect of the library and what it meant to his own intellectual development. “The pursuit of knowing was freedom to me,” he writes, “the right to declare your own curiosities and follow them through all manner of books. I was made for the library, not the classroom.”
                  p Like Coates, many patrons rely on BPL as an alternative to school, a place where they are surrounded by books and other resources, and can follow their intuitions and interests at their own pace. For patrons who want to pursue knowledge alongside others, or need more direction, the Library users an enormous range of programs that.
            li
              a(href='#')
                h1 III.TO CONNECT RESIDENTS TO EDUCATIONAL AND ECONOMIC OPPORTUNITIES
              .inside
                .content
                  p One important insight behind the founding of this and other public libraries across the country is the idea that reading is transformational, that through reading we can not only learn new things but discover new worlds. In his award-winning essay collection, “Between the World and Me,” Ta-Nehisi Coates writes about this aspect of the library and what it meant to his own intellectual development. “The pursuit of knowing was freedom to me,” he writes, “the right to declare your own curiosities and follow them through all manner of books. I was made for the library, not the classroom.”
                  p Like Coates, many patrons rely on BPL as an alternative to school, a place where they are surrounded by books and other resources, and can follow their intuitions and interests at their own pace. For patrons who want to pursue knowledge alongside others, or need more direction, the Library users an enormous range of programs that.
      
      
      .chapter#next
        h1.nn_title Next: Focus Areas
        .content
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam varius quam sem, eget blandit neque tristique ut. Ut vel blandit nunc. Aliquam mi tortor, elementum eget dolor ut, placerat lobortis ex. Curabitur molestie, tortor ac tempus lacinia, ex odio lacinia nunc, non aliquam velit quam et lorem. Aenean imperdiet purus in dui ultricies congue. In hac habitasse platea dictumst. Donec sit amet tellus pellentesque, hendrerit odio nec, euismod turpis. Proin blandit sollicitudin dolor. Integer in aliquet neque, eget sagittis nunc.
          p Ut scelerisque turpis id neque tincidunt, et congue nulla congue. Sed tincidunt leo sed quam dignissim, laoreet tristique mi condimentum. Sed tempor justo at massa ultrices accumsan. Cras vitae nisi vitae mauris malesuada laoreet. Quisque eu arcu non neque aliquam malesuada. Maecenas porttitor magna ligula. Proin vitae cursus ipsum.

      .chapter#appendix
        h1.nn_title Appendix
        .content
          p Donec non tincidunt arcu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam massa risus, congue ut pharetra a, euismod ut sem. Duis feugiat, nisi in tempor auctor, risus lorem feugiat neque, ac ornare nulla ligula ac libero. Fusce at tellus urna. Sed at fermentum purus. Etiam sit amet risus non augue rhoncus porta. Sed tincidunt nibh vel odio faucibus efficitur. Aliquam sit amet felis diam. In hac habitasse platea dictumst. Nam maximus urna in velit pharetra, non pharetra justo aliquam. In placerat turpis vel erat bibendum, sit amet pharetra dui maximus. Phasellus diam nibh, pharetra scelerisque efficitur nec, congue pulvinar ex. Praesent a lorem in est congue varius.
          p Nunc ullamcorper ac nunc ac rutrum. Aliquam in nisi quis augue laoreet rhoncus. Vestibulum pulvinar placerat nisl non tempus. Praesent mollis ipsum sed tristique facilisis. Nunc eu ipsum eu mauris lacinia scelerisque non congue velit. Curabitur vitae diam vel est pretium accumsan non non ligula. Nullam laoreet lectus in eros posuere imperdiet. Sed facilisis tellus a velit commodo, eu mattis libero tincidunt. Sed ac quam vestibulum, venenatis velit ut, sagittis massa.
          p Suspendisse tincidunt felis felis, id tristique sem commodo in. Vivamus rhoncus tortor quis magna pretium sollicitudin. Aliquam sodales condimentum ex nec tincidunt. Suspendisse lacinia justo ut turpis tempor dictum. Pellentesque at ipsum est. Curabitur pulvinar metus a magna accumsan condimentum. Nullam rutrum erat at risus elementum vulputate.

      .chapter#spotlights
        h1.nn_title Spotlights
        .content
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam varius quam sem, eget blandit neque tristique ut. Ut vel blandit nunc. Aliquam mi tortor, elementum eget dolor ut, placerat lobortis ex. Curabitur molestie, tortor ac tempus lacinia, ex odio lacinia nunc, non aliquam velit quam et lorem. Aenean imperdiet purus in dui ultricies congue. In hac habitasse platea dictumst. Donec sit amet tellus pellentesque, hendrerit odio nec, euismod turpis. Proin blandit sollicitudin dolor. Integer in aliquet neque, eget sagittis nunc.
          p Ut scelerisque turpis id neque tincidunt, et congue nulla congue. Sed tincidunt leo sed quam dignissim, laoreet tristique mi condimentum. Sed tempor justo at massa ultrices accumsan. Cras vitae nisi vitae mauris malesuada laoreet. Quisque eu arcu non neque aliquam malesuada. Maecenas porttitor magna ligula. Proin vitae cursus ipsum.

      ul.toc.bottom.inline_nav
        li
          a(href='#intro')
            h1.nn_title Intro
        li
          a(href='#now')
            h1.nn_title Now: Core Principles
        li
          a(href='#next')
            h1.nn_title Next: Focus Areas
        li
          a(href='#appendix')
            h1.nn_title Appendix
        li
          a(href='#spotlights')
            h1.nn_title Spotlights
