.chapter#footnotes
	.content
		ul.nn-footnotes
			li.nn-no-indent
				strong Notes

			li#fn-1
				.nn-li-number 1
				| In Fiscal Year 2017, BPL served more than 997,000 attendees in its public programs, including 256,000 in 0–5 year old programs, 329,000 in 6–12 year old programs, 69,000 in teen programs, 310,000 in adult programs, and 32,000 in older adult programs. 

			li#fn-2
				.nn-li-number 2
				span In BPL’s collection, there are 3.9 million physical items and 260,000 e-materials. Items encompass 126 different languages. Outside of English, the highest circulating languages include Russian, Chinese, Spanish, Polish, Hebrew, Yiddish, and Arabic. 

			li#fn-3
				.nn-li-number 3
				| BPL’s extensive local history archive, the Brooklyn Collection, is made up of more than 200,000 items, including 467 historical maps and 6,500 photographs.

			li#fn-4
				.nn-li-number 4
				| See Osborne Associates, “New York Initiative for Children of Incarcerated Parents, Fact Sheet.” According to this report, “53,891 minor children in four of the five boroughs (Manhattan, Brooklyn, Bronx, Queens) were impacted by the arrest of a parent or caregiver.”

			li#fn-5
				.nn-li-number 5
				| Of BPL’s 59 libraries, 18 are Carnegie libraries and 11 are Lindsay box libraries, though another 16 branch buildings have Lindsay box characteristics.

			li#fn-6
				.nn-li-number 6
				| Hester Street Collaborative led community engagement for the Library’s Sunset Park project.

		.nn-image
			img(src='/assets/imgs/image12.jpg')
			.nn-image-caption Brooklyn Public Library Capital Improvements by Location