section#CONTENT.main.scroller
	article.page-content
		a#main-content
		.container
			.row
				ul#nn-toc.nn-inline-nav
					li.nn-title
						a.now-next-text(href='#preface')
							span.now NOW
							span.next NEXT
					li
						a(href='#now') Now: Core Principles
					li
						a(href='#next') Next: Focus Areas
					li
						a(href='#howwegothere') How We Got Here
					li.nn-spotlights
						a(href='./spotlights')
							div Spotlights
							h1 Our Core Principles In Action

				include chapters/preface
				include chapters/intro
				include chapters/now
				include chapters/next
				include parts/notes