section#CONTENT.main.scroller
	article.page-content
		a#main-content
		.container
			.row
				#nn-toc.span-2
					ul.nn-inline-nav
						li.nn-preface.nn-title
							a.now-next-text(href='#preface')
								span.now NOW
								span.next NEXT
						li.nn-intro
							a(href='./report#intro') Introduction
						li.nn-now
							a(href='./report#now') Core Principles
						li.nn-next
							a(href='./report#next') Focus Areas
						li.nn-how
							a(href='./report#how') How We Got Here
						li.nn-spotlights
							a(href='./spotlights#spotlights')
								span Spotlights
								// TITLE OF MOST RECENT SPOTLIGHT
								h1 Our Core Principles In Action

				.span-4
					.nn-subheader.mobile Strategic Plan 2018
					include preface