// BEGIN PREFACE
.nn-chapter#preface
	.nn-content
		p Shortly after its establishment in 1896, Brooklyn Public Library published its first annual report, declaring its undertaking “to improve the quality of the minds of the people… and lay the foundation of a better civilization for the future,” which still seems apt 120 years later. BPL has remained committed to this founding mission, though how we execute that mission has remarkably evolved.

		p Public libraries developed during a century of nearly incomprehensible change. When our first branch was erected, Brooklyn had no cars on its streets, planes in its skies, or windows bright with electricity, nevermind wifi-enabled tablets or 3D printers. A manufacturing economy of dockyards and factories has given way to an information economy, resulting in unprecedented income disparity. Today, one in five Brooklyn households has a six-figure annual income while one in five receives food stamp benefits. Though the borough has remained one of the most important immigrant destinations in the United States—in 1900, one third of Brooklynites hailed from another country, just as in 2017—they are now more likely from the Caribbean or China than Poland or Italy. Brooklyn in 2017 is as dense and diverse as it’s ever been.

		p The Library has adapted at the same breakneck pace as the borough. Patrons once visited a handful of branches in person to check out printed materials in English, which they read at a carrel or at home. Today, patrons access our vast collection of more than four million materials in over 100 languages on whichever printed or digital platform they choose, whether they are at home, standing on the subway platform, or visiting one of our branches in nearly every neighborhood. Patrons come to the Library not only to access the internet but also to learn how to navigate the ever-proliferating amount of online information.

		p Our definition of literacy has expanded. We believe all Brooklynites should be fluent in the languages of arts and culture, civic life, digital technology, mathematics and finance, the sciences, and more. To reflect our multi-faceted approach to literacy, our services have exponentially grown. Last year, more than eight million visitors used neighborhood libraries across Brooklyn to study, build businesses, engage in book discussions and debates, listen to live music, prepare their taxes, learn how to paint, design robots, and more.

		p In these ways, Brooklyn Public Library reflects the vibrant, complex, and constantly changing communities we serve. The plan that follows is the expression of our ambition to carry on that work, and to do it more effectively, more collaboratively, and more creatively than ever before. Part One—Now— articulates who we are: an institution that offers everyone the dignity and exhilaration of learning. Part Two—Next—articulates who we are striving to become: a truly public forum that transcends well-worn divides to gather people together, generate genuine dialogue, and energize a sense of possibility. Taken as a whole, it is proof that the public library—extraordinarily versatile and fiercely democratic—is as vital as ever. 

		img.nn-signature(src='./assets/imgs/lej.jpg')
		p Linda E. Johnson
		


		.nn-preface-links
			.nn-preface-link
				a(href='./report') Continue reading
			.nn-preface-link
				a(href='') Download PDF

// END PREFACE