//- START INTRO CHAPTER
.chapter.intro
	.content
		p Brooklyn Public Library is an educator, a community resource, a civic space, and a social support. Its founding purpose—to provide access to information and guide patrons toward books and other resources—remains central to everything it does. But it has also become a place to take classes, participate in cultural events, and meet neighbors from di erent backgrounds. The Library is a literal place and a collection of resources, many of which are available anywhere there is internet access. It is a shared space that sparks collaboration and a space for individual re ection.
		p This complexity of purpose should come as no surprise: public libraries are working on the front lines of information access, perhaps the fastest changing part of our economy and society. It is also no wonder that in Brooklyn, a place with so many di erent cultures and a dearth of public space, our buildings are used in a dizzying variety of ways. But for precisely these reasons it is important to keep asking questions about the Library’s core goals and to take stock of both its limits and potential as we work to deliver a broad array of services.
		p This plan and the initiatives it identi es are meant to provide this vision and focus.
		p When we started our research more than a year ago, we felt it was important to create a process that gave sta  from across the organization an opportunity to discuss how they approach their jobs, what obstacles they face, and what they might do to maximize their impact if given the right tools and resources. During charrettes and interactive feedback events with over 300 librarians, clerks, custodians, public safety o cers, administrators, and trustees, the common challenges that surfaced were a lack of communication and collaboration across di erent departments and branches, and a need for clearer guidelines and models for community outreach. Proposals included expanded service partnerships, particularly around cultural and educational programs, additional teen training and internship o erings, and creative ways of bringing services out of library buildings and into the community.
		p The rich and o en complicated discussions that arose during the process shaped this plan. In addition to the more standard elements of a strategic plan, it identi es the values that animate our work and make us who we are, and spotlights key models and approaches that separate BPL from other community-based organizations. It describes some of the roles of a public library in the internet era, when most patrons are confronted with too much information rather than too little, and it is increasingly di cult to tell truth from  ction.
		p Based on our charrettes, focus groups, and over 100 hundred additional interviews with internal and external stakeholders, the plan also presents a vision for the future designed to guide BPL’s strategic initiatives over the next several years. In addition to clarifying our existing approaches to public service and creating the internal capacity to reproduce the best programs, this vision incorporates new ways of engaging residents and tailoring services to the particular needs of our neighborhoods.
		p Part One identi es the Library’s  ve core principles. At a time of great change for libraries and information services in general, it is important to explicitly identify the high-level goals that de ne our work, make us who we are, and motivate us to continually improve. BPL’s  ve core principles are:
		ul.bullets
			li To foster literacy and the love of learning
			li To supply trusted, up-to-date information resources, and guide patrons to the ones they need
			li To connect residents to educational and economic opportunities
			li To strengthen relations between residents and promote civic engagement
			li To provide inclusive and inspirational public spaces
		p For each principle, we draw on key existing services to describe the Library’s distinct approach, including its values and methods. For example, when it comes to literacy and the love of learning, BPL incorporates play and experimentation, and designs programs to meet the needs of learners with a wide range of abilities. And when it comes to strengthening relations between patrons and promoting civic engagement, the Library works closely with community partners and volunteers.
		p Part Two identi es three focus areas for future action. While each focus area encompasses a number of distinct initiatives, its main purpose is to identify a set of general goals that can direct action at all levels of the organization. The three focus areas are:
		ul
			li
				strong Establishing Priorities
				p Because the Library responds to a broad range of needs with an even broader range of services, it is important to acknowledge genuine constraints on material and human resources. To build capacity and deepen our impact, BPL will evaluate existing services in light of our core principles, establish clear models for new and expanded services, and streamline partnerships with outside organizations and stakeholders.
			li
				strong Focusing on Community
				p In a borough as diverse as Brooklyn, di erent neighborhoods o en need di erent library services. BPL will take a number of concrete steps to become more responsive to local neighborhood conditions, including engaging residents and using performance and demographic data to customize services and programs.
			li
				strong Innovating through Collaboration and Learning
				p To keep abreast of the rapidly changing needs of information consumers and producers, BPL must continue to incorporate new tools and practices. Going forward, the Library will prioritize professional development for sta , while providing new ways to collaborate on projects and share information about best practices.
		p Together we hope these focus areas will not only help coordinate future planning e orts from the library administration down, but inform individual initiatives from the  eld. Examples of top-down initiatives include new tools and strategies for tailoring services to individual neighborhoods, and a renewed focus on partnerships and professional development. A big part of this plan, however, is to create institutional space for sta  at all levels to identify solutions of their own. Through a new system of branch networks, sta  will be able to prioritize issues in several distinct service areas and draw on the Library’s resources to test concrete solutions.
		p Moreover, as demonstrated in the series of spotlights in the middle of this document, the Library will do more over the coming months and years to highlight models of excellence, drawing on innovative sta  members to inspire change across the system.
		p As we move toward a relationships-based service model, one in which it is just as much a part of the job to create partnerships with outside organizations and engage residents as it is to stock and check out materials, our sta  are constantly reinterpreting their roles and rede ning boundaries and expectations. We hope the plan helps clarify this process and deepens our capacity to respond to the changing needs of patrons in principled and coordinated ways.

		div(class="carousel-placer")
			div(id="carousel-nn" class="carousel-wrapper")
				
				//- img(src="/assets/imgs/gradient.png" class="gradient left")
				//- img(src="/assets/imgs/gradient.png" class="gradient right")
					
				div(class="carousel col-4 full-width")
					div(class="carousel-cell" aria-hidden="true")
						a(href="#")
							img(alt="" class="" src="/assets/imgs/slideshow1.jpg")
						img(src="/assets/imgs/gradient.png" class="gradient bottom")
						p Vestibulum at quam ullamcorper, mattis mauris ut, aliquet dui. Suspendisse dictum felis sit amet tellus varius, vitae viverra nulla ullamcorper.

					div(class="carousel-cell" aria-hidden="true")
						a(href="#")
							img(alt="" class="" src="/assets/imgs/slideshow2.jpg")
						img(src="/assets/imgs/gradient.png" class="gradient bottom")
						p Vestibulum at quam ullamcorper, mattis mauris ut, aliquet dui. Suspendisse dictum felis sit amet tellus varius, vitae viverra nulla ullamcorper.

					div(class="carousel-cell" aria-hidden="true")
						a(href="#")
							img(alt="" class="" src="/assets/imgs/slideshow3.jpg")
						img(src="/assets/imgs/gradient.png" class="gradient bottom")
						p Vestibulum at quam ullamcorper, mattis mauris ut, aliquet dui. Suspendisse dictum felis sit amet tellus varius, vitae viverra nulla ullamcorper.

					div(class="carousel-cell" aria-hidden="true")
						a(href="#")
							img(alt="" class="" src="/assets/imgs/slideshow4.jpg")
						img(src="/assets/imgs/gradient.png" class="gradient bottom")
						p Vestibulum at quam ullamcorper, mattis mauris ut, aliquet dui. Suspendisse dictum felis sit amet tellus varius, vitae viverra nulla ullamcorper.

					div(class="carousel-cell" aria-hidden="true")
						a(href="#")
							img(alt="" class="" src="/assets/imgs/slideshow5.jpg")
						img(src="/assets/imgs/gradient.png" class="gradient bottom")
						p Vestibulum at quam ullamcorper, mattis mauris ut, aliquet dui. Suspendisse dictum felis sit amet tellus varius, vitae viverra nulla ullamcorper.

					div(class="carousel-cell" aria-hidden="true")
						a(href="#")
							img(alt="" class="" src="/assets/imgs/slideshow6.jpg")
						img(src="/assets/imgs/gradient.png" class="gradient bottom")
						p Vestibulum at quam ullamcorper, mattis mauris ut, aliquet dui. Suspendisse dictum felis sit amet tellus varius, vitae viverra nulla ullamcorper.

					div(class="carousel-cell" aria-hidden="true")
						a(href="#")
							img(alt="" class="" src="/assets/imgs/slideshow7.jpg")
						img(src="/assets/imgs/gradient.png" class="gradient bottom")
						p Vestibulum at quam ullamcorper, mattis mauris ut, aliquet dui. Suspendisse dictum felis sit amet tellus varius, vitae viverra nulla ullamcorper.

					div(class="carousel-cell" aria-hidden="true")
						a(href="#")
							img(alt="" class="" src="/assets/imgs/slideshow8.jpg")
						img(src="/assets/imgs/gradient.png" class="gradient bottom")
						p Vestibulum at quam ullamcorper, mattis mauris ut, aliquet dui. Suspendisse dictum felis sit amet tellus varius, vitae viverra nulla ullamcorper.
//- END INTRO CHAPTER