//- START INTRO CHAPTER
.chapter#intro
	.content
		p
			strong Introduction

		p Brooklyn Public Library is an educator, community resource, civic space, and social support. Its founding purpose—to provide access to information and guide patrons toward books and other resources— remains central to everything it does. But it has also become a place to take classes, participate in cultural events, and meet neighbors from different backgrounds. The Library is a literal place and a collection of resources, many of which are available anywhere there is internet access. It is a shared space that sparks collaboration and a space for individual reflection. 

		p This complexity of purpose should come as no surprise: public libraries are working on the front lines of information access, perhaps the fastest changing part of our economy and society. It is also no wonder that in a borough with many different cultures and a dearth of public space, our buildings are used in a dizzying variety of ways. But for precisely these reasons it is important to keep asking questions about the Library’s core goals and to take stock of both its limits and potential as we work to deliver a broad array of services. 

		p This plan and the initiatives it identifies are meant to provide this vision and focus.

		p When we started our research more than a year ago, we felt it was important to create a process that gave staff from across the organization an opportunity to discuss how they approach their jobs, what obstacles they face, and what they might do to maximize their impact if given the right tools and resources. During charrettes and interactive feedback events with over 300 librarians, clerks, custodians, public safety officers, administrators, and trustees, the common challenges that surfaced were a lack of communication and collaboration across different departments and branches, and a need for clearer guidelines and models for community outreach. Proposals included expanded service partnerships, particularly around cultural and educational programs, additional teen training and internship offerings, and creative ways of bringing services out of library buildings and into the community. 

		p The rich and often complicated discussions that arose during the process shaped this plan. In addition to the more standard elements of a strategic plan, it identifies the values that animate our work and make us who we are, and spotlights key models and approaches that separate BPL from other community-based organizations. It describes some of the roles of a public library in the internet era, when most patrons are confronted with too much information rather than too little, and it is increasingly difficult to tell truth from fiction. 

		p Based on our charrettes, focus groups, and over 100 hundred additional interviews with internal and external stakeholders, the plan also presents a vision for the future designed to guide BPL’s strategic initiatives over the next several years. In addition to clarifying our existing approaches to public service and creating the internal capacity to reproduce the best programs, this vision incorporates new ways of engaging residents and tailoring services to the particular needs of our neighborhoods. 

		p Part One—Now—identifies the Library’s five core principles. At a time of great change for libraries and information services in general, it is important to explicitly identify the high-level goals that define our work, make us who we are, and motivate us to continually improve. BPL’s five core principles are:

		ul.nn-bullets
			li To foster literacy and the love of learning
			li To supply trusted, up-to-date information resources, and guide patrons to the ones they need
			li To connect residents to educational and economic opportunities
			li To strengthen relations between residents and promote civic engagement
			li To provide inclusive and inspirational places

		p For each principle, we draw on key existing services to describe the Library’s distinct approach, including its values and methods. For example, when it comes to literacy and the love of learning, BPL incorporates play and experimentation, and designs programs to meet the needs of learners with a wide range of abilities. And when it comes to strengthening relations between residents and promoting civic engagement, the Library works closely with community partners and volunteers. 

		p Part Two—Next—identifies three focus areas for future action. While each focus area encompasses a number of distinct initiatives, its main purpose is to identify a set of general goals that can direct action at all levels of the organization. The three focus areas are: 

		ul
			li
				strong Establishing Priorities
				p Because the Library responds to a broad range of needs with an even broader range of services, it is important to acknowledge genuine constraints on material and human resources. To build capacity and deepen our impact, BPL will evaluate existing services in light of our core principles, establish clear models for new and expanded services, and streamline partnerships with outside organizations and stakeholders.
			li
				strong Focusing on Community
				p In a borough as diverse as Brooklyn, different neighborhoods often need different library services. BPL will take a number of concrete steps to become more responsive to local neighborhood conditions, including engaging residents and using performance and demographic data to customize services and programs.
			li
				strong Innovating through Collaboration and Learning
				p To keep abreast of the rapidly changing needs of information consumers and producers, BPL must continue to incorporate new tools and practices. Going forward, the Library will prioritize professional development for staff, while providing new ways to collaborate on projects and share information about best practices.

		p Together we hope these focus areas will not only help coordinate future planning efforts from the Library administration down, but inform individual initiatives from the field. Examples of top-down initiatives include new tools and strategies for tailoring services to individual neighborhoods, and a renewed focus on partnerships and professional development. A critical part of this plan, however, is to create institutional space for staff at all levels to identify solutions of their own. Through a new system of branch networks, staff will be able to prioritize issues in several distinct service areas and draw on the Library’s resources to test concrete solutions. 

		p Moreover, as demonstrated in the series of spotlights in the middle of this document, the Library will do more over the coming months and years to highlight models of excellence, drawing on innovative staff members to inspire change across the system. 

		p As we move toward a relationships-based service model, being a librarian means creating partnerships with outside organizations and engaging residents in addition to stocking and checking out materials. Our staff are constantly evolving in their roles and redefining boundaries and expectations. The plan is meant to clarify this process and deepen our capacity to respond to the changing needs of patrons in principled and coordinated ways.

		div(class='nn-carousel-placer')
			div(id='nn-carousel' class='carousel-wrapper')
				div(class='carousel col-4 nn-full-width')
					- var slides = []
					- slides.push('Brooklyn Connections participants present their research at a culminating ceremony')
					- slides.push('Finalists in BPL’s Teen Writing contest have their pieces published in a journal')
					- slides.push('An interactive performance of Sophocles’s Ajax, followed by discussion at Crown Heights Library')
					- slides.push('Data Detox Day, in partnership with the Mozilla Foundation, is proposed for BKLYN Incubator funding')
					- slides.push('An Asian New Year celebration, Sunset Park Library')
					- slides.push('BKLYN Amplified, a silent listening party with BPL produced podcasts')
					- slides.push('Authors Jacqueline Woodson and Jason Reynolds at Macon Library')
					- slides.push('Brooklyn Gaze, a video projection artwork commissioned by BPL')
					- slides.push('BPL’s local history archive has more than 200,000 items, including 467 historical maps')
					- slides.push('Drag Queen Story Hour at Park Slope Library')
					- slides.push('The World Language Family Festival, Bay Ridge Library ')
					- slides.push('BPL adult literacy students prepare for the High School Equivalency exam')
					- slides.push('Remix Academy, a digital media program for teens interested in music, is prototyped at Bedford Library')
					- slides.push('A patron listens to poet and activist Sonia Sanchez, Campfire Conversations, Lefferts Historic House')
					- slides.push('PowerUP! businesses show their products at a pop-up market at BKLYN Commons co-working space')
					- slides.push('Choreographer Reggi “Regg Roc” Gray and dancers demonstrate flex styles at Central Library')
					- slides.push('A young patron uses BPL’s self-service machines ')
					each caption, index in slides
						div(class='carousel-cell' aria-hidden='true')
							a(href='#')
								img(alt='' class='' src='./assets/imgs/intro/slide'+index+'.jpg')
							//- img(src='/assets/imgs/gradient.png' class='gradient bottom')
							p= caption
//- END INTRO CHAPTER