//- START NEXT CHAPTER
.chapter.next
	.content
		.large-title
			include ./../assets/imgs/now.svg
		p
			strong Focus Areas for the Future
		p As the Library continues to build upon and re ne our foundational principles, we will take steps to become ever more adaptive to technological change and more responsive to community needs. Now more than ever, a cookie-cutter or fran- chise approach to library services will not be e ective. Our neighborhoods are too diverse and our programs and resources too wide ranging for services to be realized the same way in every location.
		p Moving beyond a more traditional service model requires prioritizing relation- ships and partnerships, not just transactions. It requires that we do more to un- cover needs and opportunities in our neighborhoods and mobilize resources to respond with the right services. In this regard, our branch libraries will need to draw on individual sta  judgement and initiative, creativity and entrepreneurial- ism, as well as a shared understanding of core values and methods.
//- END NEXT CHAPTER