.chapter#now
	.content
		.nn-large-title
			include ./../assets/imgs/now.svg
		p
			strong Core Principles

		p At BPL, we believe there are many ways to learn, that welcoming people from all beliefs and backgrounds is crucial for democracy, and that listening and taking an interest are fundamental characteristics of strong communities. We protect our patrons’ personal privacy, including their digital privacy, because we believe in intellectual freedom and take seriously our role in supporting learners and information seekers of all kinds. We take pride in sparking people’s curiosity and believe learning is most effective when it’s fun. 

		p This section of the plan expresses our values in five core principles and examines how we put them into action. In making these principles explicit, we provide our patrons with a clearer sense of what makes us who we are, and give our staff and service partners a better idea of how we might improve in the future.

		p Over the last decade, one of BPL’s strengths has been its ability to meet new needs with new services. To keep up with the incredible number of changes brought about by the internet, for example, the Library has not only purchased new materials and made them available in new ways—it has created a wider range of services and programs and invested in new tools and spaces to support them. In addition to eBooks and other digital resources, BPL offers STEM programs for elementary school children, technology training and internships for teens, business plan competitions for entrepreneurs, arts programs for seniors, and more.

		p One goal of this plan is to create even more capacity internally to respond to new needs and changing conditions on the ground. But to do this effectively, we must be mindful of the Library’s mission and established approaches to public service. As we sustain, expand, and improve existing services and programs, and dream up and execute new ones, we will ensure they spring from the following core principles. 

		p
			strong Our Five Core Principles:

		//- ACCORDION TO TOGGLE OPEN AND CLOSE THE CORE PRINCIPLES
		.nn-inline-nav.nn-accordion
			.nn-content-wrapper
				.nn-toggle-title
					h1 I. To foster liter&shy;acy and the love of learning
				.nn-inside
					.nn-hidden-content
						p One important insight behind the founding of this and other public libraries across the country is the idea that reading is transformational, that through reading we can not only learn new things but discover new worlds. In his award-winning book, Between the World and Me, Ta-Nehisi Coates writes about this aspect of the library and what it meant to his own intellectual development. “The pursuit of knowing was freedom to me,” he writes, “the right to declare your own curiosities and follow them through all manner of books. I was made for the library, not the classroom.”

						blockquote.left “The pursuit of know&shy;ing was freedom to me, the right to declare your own curios&shy;ities and follow them through all manner of books.”

						p Like Coates, many patrons rely on BPL as an alternative to school, a place where they are surrounded by books and other resources, and can follow their intuitions and interests at their own pace. For patrons who want to pursue knowledge alongside others, or need more direction, the Library offers an enormous range of programs that introduce participants to new ideas, practices, and ways of thinking. Many of these programs incorporate materials from the collection, or instructions or tips, so that participants can continue learning on their own if they choose. The goal is to tap into a person’s innate curiosity and inspire a passion for learning.

						p As one of the only organizations in New York that focuses on learners of all ages, BPL has developed distinct pedagogical approaches for different age groups, including children, teens, adults, and students of all ages with learning disabilities.
							a.nn-cite#cite-1(href='#fn-1')
								sup 1

						p For instance, early learning programs (0–5 years old) are as much about modeling activities for care- givers as they are developing new skills and habits for young children. With an emphasis on social and emotional learning, in addition to intellectual learning, participants are encouraged to talk, play and sing. Babies are introduced to patterns and textures, and toddlers build with blocks and dowels. Programs for school-aged children (6–12) emphasize play and experimentation. In Book Adventure programs, they dress up in costumes, play with toys, and browse through stacks of topically appropriate books; and in Library Lab, they conduct hands-on science experiments with different substances and create machines out of cardboard, duct tape, circuits, and diodes.

						.nn-image
							img(src='/assets/imgs/image1.jpg')
							.nn-image-caption Science Baby, a creative science series for 0–3 year olds

						p For teens, the goal is to empower participants by involving them in both the design and execution of programs. Drawing on their input and continued involvement, the Library hosts an annual teen writing contest that culminates in a reading and awards ceremony at Central Library. The winners and finalists also have their pieces published in the Teen Writing Journal distributed by BPL. For adults, the Library offers programs for learners with a wide range of abilities, including both basic computer literacy programs and more advanced digital media classes. At its adult learning centers, BPL offers intensive courses in basic reading and writing, preparation for the High School Equivalency exam, and English for Speakers of Other Languages (ESOL). 

						p To accommodate different intelligences and learning styles, BPL has developed programs that go far beyond traditional literacy to incorporate sensory and physical elements, including building and disassembling, dissecting and performing. The Library’s Inclusive Services Department develops these kinds of programs for students with learning disabilities, and many of the same approaches have been adopted for other children as well as for teens and adults.

						.nn-image
							img(src='/assets/imgs/image2.jpg')
							.nn-image-caption The Vision and Justice lecture series presented by Harvard professor Sarah Lewis

						p At the same time the Library is increasing its range of educational programs, incorporating new approaches and delving into new subjects, it continues to stress reading as fundamental. Through literally thousands of reading groups, lectures, author talks, a prominent literary prize, and citywide campaigns like Summer Reading, one of BPL’s most important contributions to the city is building a culture of reading and a community of readers. 

						p Over the last two years, the Library has built on this tradition by developing an arts and culture series that is both inclusive and unapologetically intellectual. Recent events have included high profile performances of ancient Greek plays meant to spark important discussions about violence and mental health, a series of Harvard University lectures on the representations of race in the history of photography, and the Night of Philosophy and Ideas, which involved 60 lectures by prominent philosophers and thinkers and attracted over 7,000 attendees.

			.nn-content-wrapper
				.nn-toggle-title
					h1 II. To supply trusted, up-to-date infor&shy;mation resources and guide patrons to the ones they need
				.nn-inside
					.nn-hidden-content
						p BPL’s approach to education and other aspects of its work, including social service support and legal assistance, civic engagement and more, rests on the assumption that people can continue on their journey of lifelong learning with a book, article, electronic learning resource or some other informational tool. In this way, the collection is at the heart of everything we do. But to create a collection and make it accessible and relevant to people’s needs and interests requires more than merely purchasing, shelving, and checking out books. It requires ongoing patron engagement and support for the individuals and groups that use our materials.

						blockquote.left Connect&shy;ing patrons to resources in the collection requires innov&shy;ative curation, patron engage&shy;ment, and partner&shy;ships.

						p The Library’s collection is extremely diverse—it contains 4 million books and other items, as well as electronic databases and educational products, computers and digital media tools—and patrons engage with it in equally diverse ways.
							a.nn-cite#cite-2(href='#fn-2')
								sup 2
							| A freelancer might take part in the Business &amp; Career Center’s business counseling services, then check out sample business plans and participate in online training sessions on time management through Lynda.com. A teenager interested in photography and digital media might participate in the Library’s digital photography bootcamp, browse through hundreds of career profiles and interviews with professionals on Career Cruising, and then return to the stacks to get inspiration from the work of Weegee, Dorothea Lange, and Gordon Parks. Patrons utilize our collection to prepare for professional licensing exams, delve into their family histories, access information about government safety net programs, and pursue their interests for research, enrichment, and entertainment. 

						p Whatever the goal, BPL’s public service staff, including more than 650 librarians, clerks, and technology resource specialists, are experts at connecting patrons to resources inside and outside the collection. This happens in person every day across the Library system, and increasingly online via the Library’s website and social media channels. After a short period in which search and recommendation engines looked like they might replace traditional readers advisory services at libraries across the country, the tide has started to turn the other way as patrons look for more personalization and context. Librarians generate book lists through the online catalog, meet with researchers through Book-A-Librarian, and provide personalized book recommendations through BookMatch. 

						.nn-image
							img(src='/assets/imgs/image3.jpg')
							.nn-image-caption SimplyE, a new app that lets patrons browse through and read over 200,000 ebooks

						p Partnerships are another important way of connecting people to resources in the collection. BPL creates and distributes curated book sets to classrooms across the borough in support of core curriculum goals in a variety of subjects, and at the end of every school year distributes reading lists to schools as part of its annual Summer Reading campaign. Archival materials from the Library’s extensive local history collection are made available to classrooms as a part of Brooklyn Connections, a project-based educational program that teaches fourth through 12th graders how to sort through and understand primary source materials.
							a.nn-cite#cite-3(href='#fn-3')
								sup 3
							|  Last year, 1,700 students at 33 different schools participated, with final projects including a scale model of Ebbets Field, home of the Brooklyn Dodgers, and handmade protest aprons and hats in commemoration of the civil rights boycott of Ebinger Bakery. 

						.nn-image
							img(src='/assets/imgs/image4.jpg')
							.nn-image-caption A young patron records herself reading a book as a part of the Daddy and Me program

						p The Library partners with hundreds of senior centers and assisted living facilities, homeless shelters, and jails to create offsite book collections that our librarians visit regularly and supplement with programs. At Riker’s Island, for instance, librarians supplement a book delivery service with a four-week literacy program in which incarcerated parents learn reading and storytelling tips, and are invited to record themselves reading their favorite children’s books. BPL works with local bookstores and publishers to stock important titles in over 100 languages, and to host foreign authors for panel discussions and talks. Finally, our librarians work with a variety of city agencies and nonprofit service providers, such as the Mayor’s Office of Immigrant Affairs and the Immigrant Justice Corps, to provide immigrants with legal advice and a host of practical information about working and living in the U.S., including classes to prepare for the citizenship test and information about applying for or renewing green cards.

			.nn-content-wrapper
				.nn-toggle-title
					h1 III. To connect residents to educa&shy;tional and economic opport&shy;unities
				.nn-inside
					.nn-hidden-content
						p In an economy that increasingly requires postsecondary training and a baseline of technology skills, BPL has become a lifeline for tens of thousands of Brooklyn residents looking to make themselves more attractive job applicants and chart viable career paths. Every day people come into branches to search through job listings on the internet, and many work with staff to improve their resumes and cover letters and find information on educational and career training opportunities.

						blockquote.left BPL connects patrons to resources and classes while help&shy;ing them to ident&shy;ify long-range goals.

						p To serve students who never finished formal schooling, including the more than 20 percent of Brooklyn adults who lack a high school degree, BPL offers a number of different intensive courses in basic reading, writing, and math. The Library enrolls nearly 400 students a year in pre-HSE (High School Equivalency) courses designed for students who read below the ninth-grade level. Students receive support from advisors who can help with problems outside the classroom if needed, referring them to housing agencies and social service providers. Beginning in early 2018, BPL will launch an associate’s degree program in partnership with Bard College, in which small cohorts of students will take college level liberal arts courses at Central Library. The program—which is completely free for students—will target people who wouldn’t otherwise have the opportunity to attend a liberal arts college, much less a college of Bard’s caliber, and support them on their “pursuit of knowing” through many of the same courses offered at the school’s main Hudson Valley campus.

						p In the case of Bard at BPL and the Library’s intensive pre-HSE courses, students take classes as they would in a traditional school setting, but the fact that they’re coming to the Library to do it is important. The students in these courses benefit not only from the Library’s collections and staff, but also from its culture of curiosity and support for self-directed, differentiated learning.

						p Beyond intensive courses, the Library prepares young adults for careers by introducing them to mentors and role models. The Today’s Teens, Tomorrow’s Techies (T4) program trains up to 100 teens every year on customer service and computer software and puts them to work in branches across the borough. They help patrons on computers and assist staff in a variety of technology programs, including basic computer classes for seniors. Graduates of the program have gone on to enroll at universities including MIT, Duke, Wellesley, and Binghamton University, join organizations such as Girls Who Code and Technology Service Corps, and work for employers like the Brooklyn Museum, AOL, and Eyebeam.

						.nn-image
							img(src='/assets/imgs/image5.jpg')
							.nn-image-caption Up to 100 T4 interns receive software and customer service training every year

						p Yet another way the Library connects people to economic opportunities is through business support services. Freelancers, independent contractors, sole proprietors, and aspiring entrepreneurs regularly visit the Library to work on their laptops, or use software and databases they can’t access elsewhere. Through a variety of partnerships with external organizations such as SCORE (Service Corps of Retired Executives), they receive in-depth coaching from experienced business professionals as well as pro-bono legal and financial advice. They learn how to secure financing through not just regular banks but microlenders, how to repair their credit or reduce debt, how to create contracts with clients, and more.

						p The Library’s business plan competitions—PowerUP! and PowerUP! KREYOL—offer entrepreneurs classes and individual counseling in addition to much-needed visibility and financing. In stark contrast to the wider small business community, the majority of participants are women (70 percent) and / or minorities (75 percent), while only 40 percent are employed full time. Over the last decade, PowerUP! and PowerUP! KREYOL, which serves Brooklyn’s Haitian community, have helped to launch literally hundreds of new businesses.

						p In a borough famous for creative entrepreneurs and DIYers, the Library is the original coworking space. It was an incubator of businesses and career ambitions long before the term was adopted in the start-up community. And like many of the incubators in the tech and creative industries, BPL connects people with ambitions to the networks and mentors they need to realize them, a service that is particularly important among women, minorities, and others traditionally deprived of these opportunities.
			.nn-content-wrapper
				.nn-toggle-title
					h1 IV. To strengthen relat&shy;ions between resid&shy;ents and promote civic engage&shy;ment
				.nn-inside
					.nn-hidden-content
						p Every one of BPL’s branch libraries, including Central Library, enable people to create community around shared interests, strengthen relationships with neighbors, and exchange views and opinions (even if it means disagreeing). When people from different walks of life come together to form even fleeting bonds in a library, surrounded by books and programs celebrating diverse viewpoints, they open up to new ideas and ways of seeing and thinking about the world, and not infrequently discover new role models and even mentors.

						blockquote.left Libraries help create and sustain the human relation&shy;ships that make our neighbor&shy;hoods vibrant places to live.

						p People forge bonds through chance encounters in our libraries all the time, but BPL also offers a broad range of programs that allow them to connect through common interests and the shared experience of learning something new. For school-aged children, many branches offer creative writing and cartooning programs and, for older adults, memoir writing, painting, and dance classes. Unlike many senior centers and residential care facilities, BPL enables older adults to see and interact with children and new parents, and exposes them to new technologies and tools. Among the Library’s many technology offerings for older adults is Library Lanes, a competitive virtual bowling league using Xbox consoles. 

						p Another way the Library builds community is through in-person, group discussions. People gather at the Library to engage in dialogue about neighborhood concerns and broader political, moral, and social issues.

						.nn-image
							img(src='/assets/imgs/image6.jpg')
							.nn-image-caption Library Lanes, a competitive virtual bowling league for older adults

						p In partnership with the Prospect Park Alliance, BPL hosts regular campfire conversations in front of the Lefferts Historic House, in which residents of all ages discuss topics like aging and public land. In some cases, getting people involved in these discussions has meant stirring things up, even agitating participants. Several BPL branches have hosted performances of The Madness of Hercules and Antigone by a theater production company called Theater of War, which uses ancient Greek drama as a springboard to discuss complex contemporary issues like violence and mental illness. In the words of its founder, Bryan Doerries, the point is to “comfort the afflicted and afflict the comfortable.” Unlike many prominent cultural organizations, the Library is able to attract remarkably diverse audiences that include former gang members and highly educated professionals, public housing residents and homeowners, life-long Brooklynites and those who only recently moved here—which makes for incredibly rich conversation.

						p BPL enables people to give back to their communities by training and managing over 2,000 volunteers at any one time. Volunteers serve as homework helpers, program leaders, literacy coaches, and Friends Group members, and through their work at the Library they impart knowledge to tens of thousands of Brooklyn residents, foster trust, and inspire people to care about their communities. 

						p Finally, BPL contributes to stronger, more resilient neighborhoods by creating and supporting services to combat a wide variety of social policy challenges. In addition to programs designed to enrich the social lives of older adults, BPL offers services for the homeless, including a program in East Flatbush that gives people experiencing homelessness an opportunity to discuss their situation with one another in a supportive environment while connecting them to shelters and mental health professionals, and working with them on preparing for a job. Through the TeleStory program, the Library brings story time to incarcerated New Yorkers and their families via a live video link between city jails and over a dozen public libraries across Brooklyn. At a time when over 50,000 New York City children are growing up with a parent in prison, this program reunites families in warm, welcoming environments, while enabling parents to inspire in their children an appreciation for reading.
							a.nn-cite#cite-4(href='#fn-4')
								sup 4

						.nn-image
							img(src='/assets/imgs/image7.jpg')
							.nn-image-caption TeleStory connects families to their incarcerated loved ones through live video links at 12 branches

			.nn-content-wrapper
				.nn-toggle-title
					h1 V. To provide inclus&shy;ive and inspir&shy;ational places
				.nn-inside
					.nn-hidden-content
						p In a large, dense borough like Brooklyn, one of BPL’s most important functions is to provide accessible and inspiring spaces that are noncommercial and open to all. For many residents, the local library is both symbol and civic square. It’s part of what they take pride in when they take pride in their neighborhood.

						blockquote.left As libraries are rebuilt and renovated, patrons will have quiet spaces to work alone As well As spaces to collaborate and play.

						p Over the last decade, the number of people taking part in Library-based educational programs has increased dramatically, as have the number of people using the Library’s electronic resources and WiFi. In fact, more people are using our services in more ways than ever before. They visit the Library to pick up new skills and reconnect with neighbors; to collaborate with peers and find peace and quiet; to use the computer and browse the shelves for reading material. This multiplicity of uses has stretched many neighborhood libraries, including Central Library, to their limit and made modernizing our physical spaces a high priority. 

						p Due to BPL’s aging infrastructure and insufficient capital funding, some branch buildings not only struggle to accommodate modern uses but suffer from broken mechanical equipment and leaky roofs. Several years ago, BPL announced that it had over $300 million in unfunded repair needs and asked city government to help close the gap so that all Brooklyn residents have access to modern, fully-functional library buildings. Though many problems persist, the tide has undoubtedly started to turn. In fact, with support from Mayor Bill de Blasio, New York City Council, Borough President Eric Adams, and the New York State Legislature, BPL is now entering one of the largest periods of rebuilding in its history. 

						p Thirteen libraries with nearly $53 million in combined capital needs are slated to receive full-scale renovations over the next several years. Another three libraries are going to be completely rebuilt, while two new satellite facilities will be created in DUMBO and the BAM Cultural District, increasing the system’s total number of locations from 59 to 61. Counting recently completed projects like the Kensington Library and the renovated Park Slope Library, well over a third of BPL’s physical spaces will have been overhauled or rebuilt by 2025.

						.nn-image
							img(src='/assets/imgs/image8.jpg')
							.nn-image-caption The planned Greenpoint Library and Environmental Education Center, designed by Marble Fairbanks Architects

						p These new libraries will not only be more accessible and functional—with working elevators and HVAC units—they will be able to accommodate more programs and uses. Patrons will have quiet spaces to work alone as well as spaces to collaborate and play. There will be spaces for the ever widening array of library-based educational programs and events, and spaces that accommodate new technologies and the ways people increasingly use them. 

						p Older, so-called Lindsay boxes (which date from Mayor John Lindsay’s administration from 1966 to 1973) will be opened up to the street to allow in more natural light and create a more inviting space for people to linger or work. Even older, Carnegie-era buildings (which date from 1903 to 1923) will be renovated and modernized, with original exterior and interior details restored wherever possible.5 Larger overhauls and new buildings will expand public spaces and create entirely new amenities for their neighborhoods, such as expanded children’s spaces at the Brooklyn Heights Library and outdoor gardens at the Greenpoint Library.

						.nn-image
							img(src='/assets/imgs/image9.jpg')
							.nn-image-caption The planned Business and Career Center at Central Library, designed by Toshiko Mori Architect

						p For the buildings that aren’t currently slated for major overhauls, BPL is concentrating on modernizing mechanical systems, refreshing interiors and making them accessible, updating indoor and outdoor signage, and transforming community rooms. 

						p BPL is also preparing a full-scale renovation of Grand Army Plaza’s Central Library, one of the city’s finest examples of art moderne architecture, the largest circulating library in the five boroughs, and a civic hub with over 1.3 million visitors a year. Divided into four phases, the Central Library plan will restore the building’s historic lobby, modernize its mechanical infrastructure and amenities, and dramatically increase public space to better accommodate a diverse number of services and programs. 

						p The Library has secured funding for phase one of the Central Library plan and will work with government and private partners over the next three years to secure the necessary funding for phases two through four.

