//- START PREFACE CHAPTER
.chapter.preface
	.content
		p
			strong.now-next-text(href='#nownext')
				span.now NOW
				span.next NEXT
			strong : Strategic Plan 2018
		p Shortly after its establishment in 1896, Brooklyn Public Library published its  rst annual report, declaring its undertaking “to improve the quality of the minds of the people... and lay the foundation of a better civilization for the future,” which still seems apt 120 years later. BPL has remained committed to this founding mission, though how we execute that mission has remarkably evolved.
		p Public libraries developed during a century of nearly incomprehensible change. When our  rst branch was erected, Brooklyn had no cars on its streets, planes in its skies, or windows bright with electricity, nevermind wi -enabled tablets or 3D printers. A manufacturing economy of dockyards and factories has given way to an information economy, resulting in unprecedented income disparity. Today, one in Brooklyn
		p Linda E. Johnson

//- END PREFACE CHAPTER