/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*:before,
*:after {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  color: inherit;
  text-decoration: none;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Franklin Gothic';
  src: url("./../fonts/ITCFranklinGothicStd-DmXCp.woff2") format("woff2"), url("./../fonts/ITCFranklinGothicStd-DmXCp.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

body.theme-now-next {
  color: #000;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 35px; }
  body.theme-now-next header#HEADER {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 100; }
  body.theme-now-next header .block {
    display: none; }
  body.theme-now-next header #HEADER-IMAGE {
    background: #839cfc;
    min-height: auto;
    padding-bottom: 95px; }
    body.theme-now-next header #HEADER-IMAGE img {
      display: none; }
  body.theme-now-next header #HEADER-TITLE {
    height: 100%;
    bottom: 0;
    display: flex;
    align-items: flex-end; }
    body.theme-now-next header #HEADER-TITLE * {
      color: #fff; }
    body.theme-now-next header #HEADER-TITLE h1#page-title.page__title.title {
      font-size: 2em;
      margin-bottom: 15px;
      font-family: Helvetica, Arial, sans-serif;
      font-weight: 900; }
  body.theme-now-next nav.main ul.nav-main.menu-main {
    display: none; }
  body.theme-now-next #CONTENT {
    padding-top: 32px; }
    body.theme-now-next #CONTENT .container .row {
      margin: 0; }
    body.theme-now-next #CONTENT .container h1.nn_title {
      font-size: 4em;
      font-family: "Franklin Gothic";
      text-transform: uppercase;
      color: #000;
      margin: 0;
      padding: 0; }
    body.theme-now-next #CONTENT .container h2.nn_sub_title {
      font-size: 1.5em;
      font-family: "Franklin Gothic";
      text-transform: uppercase;
      color: #000;
      margin: 0;
      padding: 0; }
    body.theme-now-next #CONTENT .container.page-list {
      position: fixed;
      top: 95px;
      z-index: 100;
      margin-bottom: 0; }
      body.theme-now-next #CONTENT .container.page-list li {
        background-color: #839cfc; }
    body.theme-now-next #CONTENT .page-content {
      margin: 0 0 0 18px; }
      body.theme-now-next #CONTENT .page-content .row {
        position: relative; }
        body.theme-now-next #CONTENT .page-content .row .large-title {
          width: 100%;
          max-width: 700px;
          margin: 0 0 52px 0; }
          body.theme-now-next #CONTENT .page-content .row .large-title object, body.theme-now-next #CONTENT .page-content .row .large-title svg {
            width: 100%;
            height: auto;
            display: table; }
        body.theme-now-next #CONTENT .page-content .row ul.inline-nav {
          width: 100%;
          font-size: 1em; }
          body.theme-now-next #CONTENT .page-content .row ul.inline-nav li {
            width: 100%;
            font-size: 1em !important;
            margin: 0;
            display: table; }
            body.theme-now-next #CONTENT .page-content .row ul.inline-nav li::before, body.theme-now-next #CONTENT .page-content .row ul.inline-nav li::after {
              display: none; }
            body.theme-now-next #CONTENT .page-content .row ul.inline-nav li a {
              display: table;
              position: relative; }
              body.theme-now-next #CONTENT .page-content .row ul.inline-nav li a::after, body.theme-now-next #CONTENT .page-content .row ul.inline-nav li a::before {
                display: inline-block;
                content: '';
                opacity: 0;
                background-size: contain;
                background-position: center; }
              body.theme-now-next #CONTENT .page-content .row ul.inline-nav li a::before {
                display: none; }
              body.theme-now-next #CONTENT .page-content .row ul.inline-nav li a:hover::after, body.theme-now-next #CONTENT .page-content .row ul.inline-nav li a:hover::before {
                opacity: 1; }
        body.theme-now-next #CONTENT .page-content .row ul.toc {
          width: calc(100% - 700px - 32px);
          min-width: 250px;
          position: absolute;
          right: 0;
          top: 0;
          z-index: 200; }
          body.theme-now-next #CONTENT .page-content .row ul.toc li {
            width: calc(100% - 64px);
            margin: 0 32px;
            line-height: 1em;
            display: inline-table; }
            body.theme-now-next #CONTENT .page-content .row ul.toc li a {
              float: left;
              text-align: left;
              font-weight: bold; }
            body.theme-now-next #CONTENT .page-content .row ul.toc li.title a {
              border-bottom: solid 3px #000; }
            body.theme-now-next #CONTENT .page-content .row ul.toc li.spotlights {
              color: #839cfc;
              padding-top: 52px; }
              body.theme-now-next #CONTENT .page-content .row ul.toc li.spotlights a {
                color: #839cfc; }
                body.theme-now-next #CONTENT .page-content .row ul.toc li.spotlights a h1 {
                  display: block;
                  clear: both;
                  padding: 32px 0 0 0;
                  text-transform: uppercase;
                  font-family: "Franklin Gothic";
                  font-size: 79px;
                  line-height: 69px; }
        body.theme-now-next #CONTENT .page-content .row .accordion a h1 {
          text-transform: uppercase;
          font-family: "Franklin Gothic";
          font-size: 79px;
          line-height: 69px;
          line-height: 75px;
          display: inline; }
        body.theme-now-next #CONTENT .page-content .row .accordion a:hover h1 {
          background: linear-gradient(to right, black, black) no-repeat;
          background-size: 100% 6px;
          background-position: left .8em; }
        body.theme-now-next #CONTENT .page-content .row .accordion .content-wrapper {
          list-style: none;
          font-size: inherit;
          margin: 0 0 52px 0;
          padding: 0; }
          body.theme-now-next #CONTENT .page-content .row .accordion .content-wrapper a {
            display: table; }
            body.theme-now-next #CONTENT .page-content .row .accordion .content-wrapper a::after {
              content: '';
              width: 52px;
              height: 52px;
              display: inline-block;
              opacity: 0;
              background-image: url(./../imgs/arrow_down.svg);
              background-repeat: no-repeat;
              background-position: center;
              background-size: 35px; }
            body.theme-now-next #CONTENT .page-content .row .accordion .content-wrapper a:hover::after {
              opacity: 1; }
          body.theme-now-next #CONTENT .page-content .row .accordion .content-wrapper .inside {
            height: 0;
            opacity: 0;
            transition: all 250ms ease-in-out, opacity 150ms ease-in-out;
            transform: translateY(-2em);
            pointer-events: none; }
          body.theme-now-next #CONTENT .page-content .row .accordion .content-wrapper.opened a::after {
            opacity: 1;
            transform: rotateZ(180deg); }
          body.theme-now-next #CONTENT .page-content .row .accordion .content-wrapper.opened .inside {
            opacity: 1;
            transition: all 250ms ease-in-out, opacity 150ms 150ms ease-in-out;
            transform: translateY(0);
            pointer-events: all; }
        body.theme-now-next #CONTENT .page-content .row .chapter {
          padding: 0 0 156px 0; }
          body.theme-now-next #CONTENT .page-content .row .chapter .content {
            max-width: calc(700px - 32px);
            width: calc(100% - 250px - 32px);
            margin-right: 32px;
            font-family: Helvetica, Arial, sans-serif;
            color: black; }
            body.theme-now-next #CONTENT .page-content .row .chapter .content h2 {
              width: 100%;
              font-weight: bold;
              display: table;
              padding: 1em 0; }
            body.theme-now-next #CONTENT .page-content .row .chapter .content p {
              margin: 0 0 52px 0; }
            body.theme-now-next #CONTENT .page-content .row .chapter .content strong {
              font-weight: bold; }
            body.theme-now-next #CONTENT .page-content .row .chapter .content blockquote {
              width: 50%;
              text-transform: uppercase;
              font-family: "Franklin Gothic";
              font-size: 79px;
              line-height: 69px;
              padding: 0 32px 32px 0;
              float: left; }
            body.theme-now-next #CONTENT .page-content .row .chapter .content ul {
              font-size: inherit;
              padding: 0;
              margin: 0 0 52px 0; }
              body.theme-now-next #CONTENT .page-content .row .chapter .content ul li {
                padding: 0 0 0 52px;
                font-size: inherit;
                margin: 0; }
                body.theme-now-next #CONTENT .page-content .row .chapter .content ul li::before {
                  display: none; }
              body.theme-now-next #CONTENT .page-content .row .chapter .content ul.bullets li {
                background-image: url(./../imgs/circle.png);
                background-size: 5px;
                background-position: 0 15px;
                background-repeat: no-repeat; }
            body.theme-now-next #CONTENT .page-content .row .chapter .content .carousel-placer {
              position: relative;
              height: 25vh; }
              body.theme-now-next #CONTENT .page-content .row .chapter .content .carousel-placer .carousel-wrapper {
                width: 100vw;
                height: 100%;
                padding-right: 0;
                position: absolute;
                top: 0;
                left: -233px;
                z-index: 100;
                overflow: hidden; }
                body.theme-now-next #CONTENT .page-content .row .chapter .content .carousel-placer .carousel-wrapper .carousel-nav {
                  width: 96px; }
                  body.theme-now-next #CONTENT .page-content .row .chapter .content .carousel-placer .carousel-wrapper .carousel-nav span {
                    width: 32px;
                    height: 32px;
                    left: 32px;
                    margin-top: -16px;
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat; }
                    body.theme-now-next #CONTENT .page-content .row .chapter .content .carousel-placer .carousel-wrapper .carousel-nav span::before {
                      display: none; }
                    body.theme-now-next #CONTENT .page-content .row .chapter .content .carousel-placer .carousel-wrapper .carousel-nav span.icon-arrow-left {
                      background-image: url(./../imgs/arrow_left.svg); }
                    body.theme-now-next #CONTENT .page-content .row .chapter .content .carousel-placer .carousel-wrapper .carousel-nav span.icon-arrow-right {
                      background-image: url(./../imgs/arrow_right.svg); }
                body.theme-now-next #CONTENT .page-content .row .chapter .content .carousel-placer .carousel-wrapper .carousel.full-width {
                  padding: 0;
                  margin: 0; }
                  body.theme-now-next #CONTENT .page-content .row .chapter .content .carousel-placer .carousel-wrapper .carousel.full-width .carousel-cell {
                    margin: 0;
                    padding: 0;
                    border: none;
                    position: relative;
                    background-color: rgba(0, 0, 0, 0.25); }
                    body.theme-now-next #CONTENT .page-content .row .chapter .content .carousel-placer .carousel-wrapper .carousel.full-width .carousel-cell img {
                      margin: 0;
                      filter: grayscale(1); }
                    body.theme-now-next #CONTENT .page-content .row .chapter .content .carousel-placer .carousel-wrapper .carousel.full-width .carousel-cell p {
                      margin: 0;
                      position: absolute;
                      bottom: 0;
                      left: 0;
                      border: 0;
                      color: white;
                      box-shadow: 10px 10px 10px #fe00ff;
                      font-weight: bold; }
                    body.theme-now-next #CONTENT .page-content .row .chapter .content .carousel-placer .carousel-wrapper .carousel.full-width .carousel-cell:hover p {
                      border: 0; }
                body.theme-now-next #CONTENT .page-content .row .chapter .content .carousel-placer .carousel-wrapper img.gradient {
                  pointer-events: none;
                  position: absolute;
                  filter: none !important; }
                  body.theme-now-next #CONTENT .page-content .row .chapter .content .carousel-placer .carousel-wrapper img.gradient.bottom {
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0; }
                  body.theme-now-next #CONTENT .page-content .row .chapter .content .carousel-placer .carousel-wrapper img.gradient.left {
                    width: auto;
                    height: 100%;
                    left: 0;
                    top: 0;
                    transform: rotate(90deg);
                    z-index: 10; }
                  body.theme-now-next #CONTENT .page-content .row .chapter .content .carousel-placer .carousel-wrapper img.gradient.right {
                    width: auto;
                    height: 100%;
                    right: 0;
                    top: 0;
                    transform: rotate(-90deg);
                    z-index: 10; }
  body.theme-now-next .nav-main li a, body.theme-now-next .branding .icon-logo {
    color: #000; }
  body.theme-now-next .bkgd-primary {
    background-color: #839cfc; }
  body.theme-now-next .primary {
    color: #000; }
  body.theme-now-next .now-next-text .now::after {
    width: 1.25em;
    height: .7em;
    display: inline-block;
    content: '';
    background-image: url(./../imgs/arrow_right.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; }
