@media only screen and (max-width: 768px) {
	content: 'tablet';
	#HEADER {
		#HEADER-IMAGE {
			position: static;
	    display: block;
	    min-height: 50vw;
	    padding: 0;
		}
		#HEADER-TITLE {
			display: none;
		}
		// CHANGE ID TO CLASS
		.nn-subheader {
			display: none;
		}
	}
	// ADD HTML
	.nn-subheader.mobile {
		display: block;
		margin: 20px 0 $width3 0;
	}
	#CONTENT {
		padding: 0;
		.page-content {
			.container {
				padding: 0 !important;
				.row {
					#nn-toc {
						width: 100%;
						position: static;
				    pointer-events: all;
						ul.nn-inline-nav {
							width: 100%;
							max-width: 100%;
							background-color: $lightBlue;
					    margin-top: 2px;
					    background-image: url(/imgs/nn-mobile-nav-down.png);
					    background-position: calc(100% - 16px) .5em;
					    background-repeat: no-repeat;
					    background-size: 1em;
							li {
								width: 100%;
								padding: 5px $width1;
								// padding: 5px 0;
								&:not(.nn-current) {
									display: none;
								}
								.now-next-text .now::after {
									background-image: url(/imgs/nn-arrow-right-white.png);
								}
								a {
									color: $lighterBlue !important;
									pointer-events: none;
									border: none;
									&::selection, ::selection {
										color: $lighterBlue !important;
									}
								}
							}
						}
						&.nn-fixed {
							width: 100%;
							position: fixed;
							top: 0;
							left: 0;
							right: auto;
							ul.nn-inline-nav {
								margin-top: 0;
							}
						}
						&.nn-opened {
							ul.nn-inline-nav {
								background-image: url(/imgs/nn-mobile-nav-up.png);
								li {
									display: block;
									border-bottom: 2px solid $white;
									a {
										pointer-events: all;
									}
								}
							}
						}
					}
					&.span-4 {
						padding: 0 15px;
					}
				}
				.nn-content {
					margin: 0;
					.nn-carousel-placer .carousel-wrapper {
						left: -15px;
					}
				}
			}
		}
	}
	&.nn-sl-theme {
		.nn-sl-link {
			.nn-sl-text {
				width: 100%;
				padding: $width1 $width2 $width3 $width2;
			}
			.nn-sl-image {
				display: none;
			}
		}
	}
}
@media only screen and (max-width:480px) {
	content: 'mobile';
	#CONTENT {
		.page-content {
			.container {
				.row {
					&.span-4 {
						
					}
					.nn-chapter {
						margin-bottom: 150px;
					}
					.nn-content blockquote {
						width: 100%;
						padding-right: 0;
					}
				}
			}
		}
	}
	&.nn-sl-theme {
		.nn-sl-link {
			.nn-sl-text {
				padding: $width1;
			}
		}
		.nn-sl-modal {
			.nn-sl-container {
				padding-left: 0;
				padding-right: 0;
				.span-4 {
					width: calc(100% - 15px);
				}
			}
		}
	}
}