@import 'vars';
@import 'reset';
body.nn-theme {
	/* CLASS NEEDS TO BE ADDED TO ALL PAGES OF STRATEGIC PLAN */
	color: $black;
	font-family: $sansSerif;
	@include mediumText;
	header {
		&#HEADER {
			width: 100%;
			position: relative;
			top: 0;
			left: 0;
			z-index: 100;
			background-color: $lightBlue;
		}
		.bkgd-primary {
			background-color: transparent;
		}
		#HEADER-IMAGE {
			background: $lightBlue;
			min-height: auto;
			padding-bottom: 0;
			display: table;
			img {
				width: 100%;
				height: auto;
				display: table;
				margin: auto;
			}
			object {
				&.nn-mobile {
					display: none;
				}
			}
			.nn-subheader {
				position: absolute;
				left: 230px;
				bottom: $width1;
				color: $white;
				font-size: 32px;
			}
		}
		#HEADER-TITLE {
			height: 100%;
			bottom: 0;
			display: flex;
			align-items: flex-end;
			.row {
				
			}
			* {
				color: $white;
			}
			h1#page-title.page__title.title {
				font-size: 2em;
				margin-bottom: 15px;
				font-family: $sansSerif;
				font-weight: 900;
			}
		}
	}
	.nn-subheader {
		font-weight: bolder;
		&.mobile {
			display: none;
		}
	}
	#bodynav {
		pointer-events: none;
		header {
			pointer-events: all;
		}
		.nav-main {
			pointer-events: none;
			li.scrolled a {
				opacity: 0;
				pointer-events: none;
			}
		}
		&:hover {
			.nav-main li.scrolled a {
				opacity: 1;
				pointer-events: all;
			}	
		}
	}
	.nn-caps-text {
		@include capsText;
	}
	#CONTENT {
		padding-top: 0;
		.container {
			.row {
				margin: 0;
				color: $black;
			}
			// h1.nn-title {
			// 	font-size: 4em;
			// 	font-family: $caps;
			// 	text-transform: uppercase;
			// 	color: $black;
			// 	margin: 0;
			// 	padding: 0;
			// }
			h2.nn-sub-title {
				font-size: 1.5em;
				font-family: $caps;
				text-transform: uppercase;
				color: $black;
				margin: 0;
				padding: 0;
			}
		}
		.page-content {
			.row {
				position: relative;
				.nn-large-title {
					width: 100%;
					max-width: 700px;
					margin: 0 0 $width3 0;
			    padding-top: 12px;
					object, svg {
						width: 100%;
						height: auto;
						display: table;
						fill: $black;
					}
				}
				ul.nn-inline-nav {
					width: 100%;
					font-size: 1em;
					li {
						width: 100%;
						font-size: 1em !important;
						margin: 0;
						display: table;
						&::before, &::after {
							display: none;
						}
						a, .nn-toggle-title {
							display: block;
							position: relative;
						}
					}
				}
				#nn-toc {
					/* RIGHT SIDE NAVIGATION (TABLE OF CONTENTS) */
					position: absolute;
					right: 0;
					top: $width2;
					z-index: 200;
					padding: 0;
					pointer-events: none;
					ul {
						max-width: 240px;
						line-height: 1em;
						margin-top: -5px;
						li {
							width: 100%;
							line-height: 1em;
							display: inline-block;
							margin-bottom: 5px;
							a {
								display: inline;
								text-align: left;
								font-weight: bold;
								border-bottom: solid 2px transparent;
								font-size: 21px;
								line-height: 1.2em;
								transition: none;
								pointer-events: all;
							}
							&.nn-spotlights {
								color: $lightBlue;
								margin-top: $width1;
								a {
									color: $lightBlue;
									.nn-caps-text {
										display: none;
										clear: both;
										padding: $width1 0 0 0;
									}
									span::after {
										width: 1.25em;
								    height: .7em;
								    display: none;
								    content: '';
								    background-image: url(/imgs/nn-arrow-right-blue.png);
								    background-position: center;
								    background-size: contain;
								    background-repeat: no-repeat;
									}
									&:hover {
										.nn-caps-text {
											display: block;
										}
										span::after {
											display: inline-block;
										}
									}
								}
							}
						}
					}
					&.nn-fixed {
						width: calc((100% - 230px)/3);
						position: fixed;
						top: $width2;
						right: 15px;
						ul {

						}
					}
				}
				.nn-accordion {
					/* INLINE ACCORDION */
					.nn-toggle-title {
						position: relative;
						&::after, &::before {
							display: inline-block;
							content: '';
							opacity: 0;
							background-size: contain;
							background-position: center;
							position: absolute;
						}
						&::before {
							display: none;
						}
						&:hover {
							&::after, &::before {
								opacity: 1;
							}
						}
						.nn-caps-text {
							display: inline;
						}
						&:hover {
							cursor: pointer;
							.nn-caps-text {
								background: linear-gradient(to right, black, black) no-repeat;
						    background-size: 100% 6px;
						    background-position: left .8em;
						  }
						}
					}
					.nn-content-wrapper {
						list-style: none;
						font-size: inherit;
						margin: 0 0 $width3 0;
						padding: 0;
						.nn-toggle-title {
							display: table;
							&::after {
								content: '';
								width: $width3;
								height: $width3;
								display: inline-block;
								opacity: 1;
								background-image: url(/imgs/nn-arrow-down-black.png);
								background-repeat: no-repeat;
								background-position: center;
						    background-size: 35px;
						  }
						}
						.nn-inside {
							height: 0;
							opacity: 0;
							transition: height 250ms $ease, transform 250ms 250ms $ease, opacity 350ms $ease;
							transform: translateY(-2em);
							pointer-events: none;
							overflow: hidden;
							.nn-hidden-content {
								padding-top: 32px;
							}
							a {
								border: none;
							}
						}
						&.nn-opened {
							.nn-toggle-title::after {
								opacity: 1;
								transform: rotateZ(180deg);
							}
							.nn-inside {
								opacity: 1;
								transition: height 250ms $ease, transform 250ms 100ms $ease, opacity 250ms 150ms $ease;
								transform: translateY(0);
								pointer-events: all;
							}
						}
						&.nn-static {
							.nn-inside {
								transition: none !important;
							}
						}
					}
				}
				.nn-chapter {
					padding: $width3 0 250px 0;
					&:first-child {
						padding-top: 25px;
					}
				}
				.nn-content {
					margin-right: $width2;
					font-family: $sansSerif;
					color: $black;
					h2 {
						width: 100%;
						font-weight: bold;
						display: table;
						padding: 1em 0;
					}
					p, .nn-chapter-title {
						margin: 0 0 $width2 0;
					}
					strong, .nn-chapter-title {
						font-weight: bold;
						font-size: 21px;
					}
					blockquote, .nn-image {
						width: 50%;
						padding: $width1 $width2 0 0;
						float: left;
						img {
							width: 100%;
						}
						.nn-image-caption {
							color: $gray;
							@include xSmallText;
						}
					}
					a.nn-cite {
						@include xSmallText;
						sup {
							font-weight: normal;
						}
					}
					ul {
						font-size: inherit;
						padding: 0;
						margin: 0 0 $width3 0;
						li {
							padding: 0 0 0 $width3;
							font-size: inherit;
							margin: 0;
							position: relative;
							&.nn-no-indent {
								padding: 0;
								margin: 0;
								text-indent: 0 !important;
							}
							.nn-indent {
								padding-left: $width3;
							}
							.nn-li-number {
								position: absolute;
								left: 0;
								top: 0;
								text-indent: 0;
							}
							&::before {
								display: none;
							}
						}	
						&.nn-footnotes {
							padding-top: $width3;
							clear: both;
							li {
								@include xSmallText;
								padding: 0 0 $width1 0;
								text-indent: $width1;
							}
						}
						&.nn-bullets {
							li {
								background-image: url(/imgs/nn-circle.png);
								background-size: 5px;
								background-position: 0 15px;
								background-repeat: no-repeat;
							}
						}
					}
					.nn-carousel-placer {
						$slideHeight: 400px;
						/* CUSTOMIZED SLICK.JS IMAGE SLIDER */
						height: $slideHeight;
						position: relative;
						margin-top: $width1;
						display: inline-block;
						.carousel-wrapper {
							width: 100vw;
							height: 100%;
							padding-right: 0;
							position: absolute;
							top: 0;
							left: -233px;
							overflow: hidden;
							.carousel-nav.next, .carousel-nav.prev {
								width: #{$width2*3};
								display: block !important;
								span {
									width: $width2;
									height: $width2;
									left: $width2;
									margin-top: -#{$width2/2};
									background-position: center;
									background-size: contain;
									background-repeat: no-repeat;
									&::before {
										display: none;
									}
									&.icon-arrow-left {
										background-image: url(/imgs/nn-arrow-left-white.png);
									}
									&.icon-arrow-right {
										background-image: url(/imgs/nn-arrow-right-white.png);
									}
								}
							}
							.carousel.nn-full-width {
								height: 100%;
								padding: 0;
								margin: 0;
								.slick-list, .slick-track {
									height: 100%;
								}
								.carousel-cell {
									height: $slideHeight;
									margin: 0;
									padding: 0;
									border: none;
									position: relative;
									background-color: rgba(0,0,0,.25);
									a {
										display: table;
									}
									img {
										width: auto;
										height: $slideHeight;
										margin: 0;
										filter: grayscale(1);
									}
									.caption {
										width: 100%;
										height: 100%;
										margin: 0;
										position: absolute;
										top: 0;
										left: 0;
										border: 0;
										box-shadow: inset 0 -130px 130px -70px rgba($black,1);
										p {
											position: absolute;
											left: 0;
											bottom: 0;
											width: calc(100% - 24px);
											margin: 0 12px 12px 12px;
											color: white;
											font-weight: bold;
										}
									}
									&:hover {
										p {
											border: 0;
										}
									}
								}
							}
						}
					}
					img.nn-signature {
						width: 250px;
					}
					.nn-preface-links {
						a {
							border: none;
							strong {
								border-bottom: 2px solid black;
							}
							&::after {
								content: '';
								width: $width1;
								height: $width1;
								display: inline-block;
								opacity: 0;
								background-image: url(/imgs/nn-arrow-right-black.png);
								background-repeat: no-repeat;
								background-position: center;
						    background-size: $width1;
						    margin: 0 0 -2px 5px;
							}
							&:hover::after {
								opacity: 1;
							}
						}
					}
				}
			}
		}
	}
	.now-next-text {
		.now::after {
			width: 1.25em;
			height: .7em;
			display: inline-block;
			content: '';
			background-image: url(/imgs/nn-arrow-right-black.png);
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}
	}
	&.nn-preface-theme {
		/* CLASS NEEDS TO BE ADDED TO PREFACE */
		#nn-toc ul li.nn-preface a {
			border-bottom-color: $black !important;
		}
	}
	&.nn-report-theme {
		/* CLASS NEEDS TO BE ADDED TO REPORT PAGE */
		#nn-toc ul li.nn-current a {
			border-bottom-color: $black !important;
		}
	}
	&.nn-sl-theme {
		#CONTENT .page-content .row #nn-toc ul li.nn-spotlights a:hover span::after {
			display: none;
		}
		/* CLASS NEEDS TO BE ADDED TO SPOTLIGHT PAGE */
		.nn-sl-link {
			margin: 0 0 $width2 0;
			background-color: $lightBlue;
			color: $white;
			display: flex;
			flex-direction: row;
			.nn-sl-text {
				width: calc(#{100%*(2/3)} - #{$width1 + $width1});
				padding: $width1;
				.nn-sl-label {
					margin: 0 0 $width1 0;
				}
				.nn-sl-dek {
					@include mediumText;
					line-height: 30px;
				}
			}
			.nn-sl-image {
				background-position: cover;
				background-position: center top;
				background-repeat: no-repeat;
				flex: 1;
				.nn-sl-img {

				}
			}
		}		
		.nn-sl-modal {
			/* POPUP SPOTLIGHT MODAL (BLUE BACKGROUND) <- NEEDS ACCESSIBILITY TESTS */
			width: 100%;
			height: 100%;
			position: fixed;
			left: 0;
			top: 0;
			margin-left: -9999999999px;
			z-index: 900;
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
			background-color: $lightBlue;
			&.show {
				margin-left: 0;
				.nn-sl-close {
					display: block;
				}
			}
			.nn-sl-container {
				display: table;
				padding: 66px 15px 100px 215px;
				.nn-content {
					color: $white !important;
					.nn-caps-text:first-child {
			    	margin: 0 0 $width3 0;
			    }
			    .nn-image {
			    	.nn-image-caption {
			    		color: $white !important;
			    	}
			    }
			    .nn-audio {
			    	width: 100%;
			    	margin-bottom: $width2;
			    	.nn-player {
			    		height: $width1;
			    		display: flex;
				    	flex-direction: row;
				    	audio {
				    		display: none;
				    	}
				    	button.nn-play {
				    		width: $width1;
				    		height: $width1;
				    		min-width: $width1;
				    		min-height: $width1;
				    		background-color: $white;
				    		padding: 0;
				    		float: left;
				    		border-radius: 50%;
				    		background-position: center;
				    		background-size: 50%;
				    		background-repeat: no-repeat;
				    		background-image: url(/imgs/nn-play.png);
				    	}
				    	.nn-track {
				    		width: calc(100% - #{$width1} - 5px);
				    		margin: 0 5px;
				    		float: left;
				    		position: relative;
				    		cursor: pointer;
				    		.nn-track-fill {
				    			width: 100%;
				    			height: 2px;
				    			position: absolute;
				    			left: 0;
				    			top: 7px;
				    			background-color: rgba($white, .5);
				    		}
				    		.nn-track-played-fill {
				    			width: 0;
				    			height: 2px;
				    			position: absolute;
				    			left: 0;
				    			top: 7px;
				    			background-color: $white;
				    			transition: width 100ms linear;
				    		}
				    	}
				    	.nn-time {
				    		display: flex;
				    		color: rgba($white, .5);
				    		@include xSmallText;
				    		span {

				    		}
				    	}
				    	&.nn-playing {
				    		button.nn-play {
				    			background-image: url(/imgs/nn-pause.png);
				    		}
				    	}
				    }
			    	h3 {

			    	}
			    	p {
			    		@include xSmallText;
			    	}
			    }
				}
			}
			.nn-sl-close {
				width: 32px;
				height: 32px;
				position: fixed;
				right: 32px;
				top: 32px;
				z-index: 900;
				cursor: pointer;
				background-image: url(/imgs/nn-close.png);
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;	
				display: none;		
			}
		}
		&.nn-sl-modal-open {
			overflow: hidden;
			#bodynav {
				display: none;
			}
		}
	}
	@import 'mobile';
}