@import 'reset';
@import 'vars';


//CLASS NEEDS TO BE ADDED TO ALL PAGES OF THIS TYPE
body.theme-now-next {
	color: $black;
	font-family: $sansSerif;
	@include mediumText;
	// top header section
	header {
		&#HEADER {
			width: 100%;
			position: relative;
			top: 0;
			left: 0;
			z-index: 100;
		}
		// search, login, other utilities
		.block {
			display: none;
		}
		// background image of header
		#HEADER-IMAGE {
			background: $lightBlue;
			min-height: auto;
			padding-bottom: 0; //slightly shorter than 105px tall logo
			display: table;
			img {
				width: 100%;
				height: auto;
			}
		}
		#HEADER-TITLE {
			height: 100%;
			bottom: 0;
			display: flex;
			align-items: flex-end;
			.row {
				
			}
			* {
				color: $white;
			}
			h1#page-title.page__title.title {
				font-size: 2em;
				margin-bottom: 15px;
				font-family: $sansSerif;
				font-weight: 900;
			}
		}
	}
	nav.main {
		ul.nav-main.menu-main {
			display: none;
		}
	}
	#CONTENT {
		padding-top: $width2;
		.container  {
			.row {
				margin: 0;
			}
			h1.nn-title {
				font-size: 4em;
				font-family: $display;
				text-transform: uppercase;
				color: $black;
				margin: 0;
				padding: 0;
			}
			h2.nn-sub-title {
				font-size: 1.5em;
				font-family: $display;
				text-transform: uppercase;
				color: $black;
				margin: 0;
				padding: 0;
			}
			// sub navigation
		}
		.page-content {
			margin: 0 0 0 18px;
			// main page content
			.row {
				// now->next svg
				position: relative;
				.nn-large-title {
					width: 100%;
					max-width: 700px;
					margin: 0 0 $width3 0;
					object, svg {
						width: 100%;
						height: auto;
						display: table;
						fill: $black;
					}
				}
				ul.nn-inline-nav {
					width: 100%;
					font-size: 1em;
					li {
						width: 100%;
						font-size: 1em !important;
						margin: 0;
						display: table;
						&::before, &::after {
							display: none;
						}
						a, .nn-toggle-title {
							display: table;
							position: relative;
							&::after, &::before {
								display: inline-block;
								content: '';
								opacity: 0;
								background-size: contain;
								background-position: center;
								position: absolute;
							}
							&::before {
								display: none;
							}
							&:hover {
								&::after, &::before {
									opacity: 1;
								}
							}
						}
					}
				}
				ul#nn-toc {
					width: calc(100% - 700px - #{$width2});
					min-width: $toc;
					position: absolute;
					right: 0;
					top: 0;
					z-index: 200;
					li {
						width: calc(100% - #{$width2*2});
						margin: 0 $width2;
						line-height: 1em;
						display: inline-table;
						a {
							float: left;
							text-align: left;
							font-weight: bold;
						}
						&.nn-title {
							a {
								border-bottom: solid 3px $black;
							}
						}
						&.nn-spotlights {
							color: $lightBlue;
							padding-top: $width3;
							a {
								color: $lightBlue;
								h1 {
									display: block;
									clear: both;
									padding: 32px 0 0 0;
									@include displayText;
								}
							}
						}
					}
					&.nn-fixed {
						width: calc(100% - #{700px + 230px + 18px + $width2});
						position: fixed;
						top: $width2;
						right: 15px;
					}
				}
				.nn-accordion {
					.nn-toggle-title {
						position: relative;
						&::before, &::after {
							position: absolute;
						}
						h1 {
							@include displayText;
							line-height: 75px;
							display: inline;
						}
						&:hover {
							cursor: pointer;
							h1 {
								background: linear-gradient(to right, black, black) no-repeat;
						    background-size: 100% 6px;
						    background-position: left .8em;
						  }
						}
					}
					.nn-content-wrapper {
						list-style: none;
						font-size: inherit;
						margin: 0 0 $width3 0;
						padding: 0;
						.nn-toggle-title {
							display: table;
							&::after {
								content: '';
								width: $width3;
								height: $width3;
								display: inline-block;
								opacity: 0;
								background-image: url(/imgs/arrow_down_black.png);
								background-repeat: no-repeat;
								background-position: center;
						    background-size: 35px;
						  }
						  &:hover::after {
						  	opacity: 1;
						  }
						}
						.nn-inside {
							height: 0;
							opacity: 0;
							transition: all 250ms ease-in-out, opacity 150ms ease-in-out;
							transform: translateY(-2em);
							pointer-events: none;
							overflow: hidden;
							a {
								border: none;
							}
						}
						&.nn-opened {
							.nn-toggle-title::after {
								opacity: 1;
								transform: rotateZ(180deg);
							}
							.nn-inside {
								opacity: 1;
								transition: all 250ms ease-in-out, opacity 150ms 150ms ease-in-out;
								transform: translateY(0);
								pointer-events: all;
							}
						}
					}
				}
				.chapter {
					.content {
						max-width: calc(700px - #{$width2});
						width: calc(100% - #{$toc} - #{$width2});
						margin-right: $width2;
						font-family: $sansSerif;
						color: black;
						h2 {
							width: 100%;
							font-weight: bold;
							display: table;
							padding: 1em 0;
						}
						p {
							margin: 0 0 $width3 0;
						}
						strong {
							font-weight: bold;
						}
						blockquote {
							width: 50%;
							@include displayText;
							padding: 0 32px 32px 0;
							float: left;
						}
						//Inline superscript link to citation footnote
						a.nn-cite {
							@include smallText;
							sup {
								font-weight: normal;
							}
						}
						ul {
							font-size: inherit;
							padding: 0;
							margin: 0 0 $width3 0;
							li {
								padding: 0 0 0 $width3;
								font-size: inherit;
								margin: 0;
								position: relative;
								&.nn-no-indent {
									padding: 0;
								}
								.nn-indent {
									padding-left: $width3;
								}
								.nn-li-number {
									position: absolute;
									left: 0;
									top: 0;
								}
								&::before {
									display: none;
								}
							}	
							&.nn-bullets {
								li {
									background-image: url(/imgs/circle.png);
									background-size: 5px;
									background-position: 0 15px;
									background-repeat: no-repeat;
								}
							}
						}
						.nn-image {
							width: 100%;
							margin: 0 0 $width3 0;
							img {
								width: 100%;
							}
							.nn-image-caption {
								color: $gray;
								@include smallText;
							}
						}
						.nn-carousel-placer {
							position: relative;
							height: 25vh;
							margin-bottom: #{$width3*3};
							.carousel-wrapper {
								width: 100vw;
								height: 100%;
								padding-right: 0;
								position: absolute;
								top: 0;
								left: -233px;
								z-index: 1000;
								overflow: hidden;
								.carousel-nav.next, .carousel-nav.prev {
									width: #{$width2*3};
									display: block !important;
									span {
										width: $width2;
										height: $width2;
										left: $width2;
										margin-top: -#{$width2/2};
										background-position: center;
										background-size: contain;
										background-repeat: no-repeat;
										&::before {
											display: none;
										}
										&.icon-arrow-left {
											background-image: url(/imgs/arrow_left_white.png);
										}
										&.icon-arrow-right {
											background-image: url(/imgs/arrow_right_white.png);
										}
									}
								}
								.carousel.nn-full-width {
									padding: 0;
									margin: 0;
									.carousel-cell {
										margin: 0;
										padding: 0;
										border: none;
										position: relative;
										background-color: rgba(0,0,0,.25);
										a {
											display: table;
										}
										img {
											margin: 0;
											filter: grayscale(1);
										}
										p {
											margin: 0;
											position: absolute;
											bottom: 0;
											left: 0;
											border: 0;
											color: white;
											// box-shadow: 10px 10px 10px $pink;
											font-weight: bold;
										}
										&:hover {
											p {
												border: 0;
											}
										}
									}
								}
								img.gradient {
									pointer-events: none;
									position: absolute;
									filter: none !important;
									display: none;
									&.bottom {
										width: 100%;
										height: 100%;
										left: 0;
										top: 0;
									}
									&.left {
										width: auto;
										height: 100%;
										left: 0;
										top: 0;
										transform: rotate(90deg);
										z-index: 10;
									}
									&.right {
										width: auto;
										height: 100%;
										right: 0;
										top: 0;
										transform: rotate(-90deg);
										z-index: 10;
									}
								}
							}
						}
						img.nn-signature {
							width: 250px;
						}

						.nn-preface-links {
							clear: both;
							display: table;
							margin-bottom: $width3;
							.nn-preface-link {
								float: left;
								margin-right: $width3;
								a {
									border-bottom: 2px solid black;
								}
							}
						}

						ul.nn-footnotes {
							padding-bottom: $width3;
							li {
								@include smallText;
								padding-bottom: $width1;
							}
						}
					}
				}
			}
		}
	}
	// side navigation and logo

	.now-next-text {
		.now::after {
			width: 1.25em;
			height: .7em;
			display: inline-block;
			content: '';
			background-image: url(/imgs/arrow_right_black.png);
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
		}
	}

	//CLASS NEEDS TO BE ADDED TO SPOTLIGHT PAGES
	.nn-spotlight {
		width: calc(100% - #{$toc} - #{$width2});
		max-width: calc(700px - #{$width2});
		margin: 0 $width2 $width3 0;
		background-color: $lightBlue;
		color: $lighterBlue;
		display: flex;
		flex-direction: row;
		.nn-sl-text {
			width: calc(#{100%*(2/3)} - #{$width1 + $width2});
			padding: $width1 $width1 $width3 $width2;
			font-size: 22px;
	    line-height: 29px;
			.nn-sl-label {
				margin: 0 0 $width1 0;
			}
			.nn-sl-title {
				@include displayText;
			}
			.nn-sl-desc {
				
			}
		}
		.nn-sl-image {
			background-position: cover;
			background-position: center top;
			background-repeat: no-repeat;
			flex: 1;
			.nn-sl-img {

			}
		}
	}
}