$width1: 16px;
$width2: 32px;
$width3: 52px;
$toc: 300px;

$white: #fff;
$gray: #808080;
$black: #231f20;
$blue: #385bbb;
$lightBlue: #839cfc;
$lighterBlue: #f2f5ff;
$pink: #fe00ff;

$sansSerif: Helvetica, Arial, sans-serif;
$display: 'Franklin Gothic';

@mixin smallText {
	font-size: 16px !important;
	line-height: 21px !important;
}

@mixin mediumText {
	font-size: 22px;
	line-height: 35px;
}

@mixin displayText {
	text-transform: uppercase;
	font-family: $display;
	font-size: 79px;
	line-height: 69px;
}

@font-face {
  font-family: 'Franklin Gothic';
  src: url('./../fonts/ITCFranklinGothicStd-DmXCp.woff2') format('woff2'),
      url('./../fonts/ITCFranklinGothicStd-DmXCp.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Bklyn';
	src: url('https://www.bklynlibrary.org/sites/all/themes/bklyn/icons/fonts/Bklyn.eot?kl8lamlza');
	src: url('https://www.bklynlibrary.org/sites/all/themes/bklyn/icons/fonts/Bklyn.eot?kl8lamlza#iefix') format('embedded-opentype'),
		 url('https://www.bklynlibrary.org/sites/all/themes/bklyn/icons/fonts/Bklyn.ttf?kl8lamlza') format('truetype'),
		 url('https://www.bklynlibrary.org/sites/all/themes/bklyn/icons/fonts/Bklyn.woff?kl8lamlza') format('woff'),
		 url('https://www.bklynlibrary.org/sites/all/themes/bklyn/icons/fonts/Bklyn.svg?kl8lamlza#Bklyn') format('svg');
	font-weight: normal;
	font-style: normal;
	}

$ease: cubic-bezier(0.19, 1, 0.22, 1);