$width1: 16px;
$width2: 32px;
$width3: 52px;
$toc: 300px;

$white: #fff;
$gray: #808080;
$black: #000000;
$blue: #3d44ac;
$lightBlue: #8199ff;
$lighterBlue: #f2f5ff;
$pink: #fe00ff;


$sansSerif: 'Helvetica Neue',Helvetica,Arial,Verdana,san-serif;
$caps: 'Franklin Gothic';

@mixin xSmallText {
	font-size: 15px !important;
	line-height: 18px !important;
}

@mixin smallText {
	font-size: 17px !important;
	line-height: 26px !important;
}

@mixin mediumText {
	font-size: 22px;
	line-height: 35px;
}

@mixin capsText {
	text-transform: uppercase;
	font-family: $caps;
	font-size: 79px;
	line-height: 75px;
}

@font-face {
  font-family: 'Franklin Gothic';
  src: url('./../fonts/ITCFranklinGothicStd-DmXCp.woff2') format('woff2'),
      url('./../fonts/ITCFranklinGothicStd-DmXCp.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Bklyn';
	src: url('./../fonts/Bklyn.ttf') format('truetype'),
			 url('./../fonts/Bklyn.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	}

$ease: cubic-bezier(0.19, 1, 0.22, 1);